<!-- <md-content class="padding-10"> -->

    <md-card style="padding:0;margin:0">
        <md-card-content>
            <div class="content-padded">
                <h2 class="md-title">老人信息管理</h2>
            </div>
            <md-divider></md-divider>
            <div class="button-toolbar" layout="row" layout-align="start center">
                <md-button ng-click="addNew()" class="md-raised md-primary">新增</md-button>
                <!-- <md-button class="md-raised md-warn">删除</md-button> -->
            </div>
        </md-card-content>
    </md-card>

    <md-card sytle="padding:0;margin:0!important">
        <md-card-content style="padding:0;margin:0" ng-include="'app/cores/basic/layouts/oldinfo/table-advanced.tmpl.html'"></md-card-content>
    </md-card>
<!-- </md-content> -->
