<md-card style="padding:0;margin:0">
    <md-card-content>
        <div class="content-padded">
            <h2 class="md-title">设备管理</h2>
        </div>
        <md-divider></md-divider>
        <div class="button-toolbar" layout="row" layout-align="start center">
            <md-button ng-click="addNew()" class="md-raised md-primary">新增</md-button>
            <md-button class="md-raised md-warn">删除</md-button>
        </div>
    </md-card-content>
</md-card>

<div ng-controller="TablesAdvancedController as vm">
    <md-data-table-toolbar ng-hide="vm.selected.length || vm.filter.show">
        <h2 class="md-title">设备列表</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
            <!-- <i class="material-icons md-dark">filter_list</i> -->
            <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-data-table-toolbar">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <form flex="" name="vm.filter.form">
            <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
        </form>
        <md-button class="md-icon-button" ng-click="vm.removeFilter()">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length" layout-align="space-between">
      <div>选择了 {{vm.selected.length}} 个用户</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table" md-row-select="vm.selected" md-progress="vm.deferred">
            <thead md-order="vm.query.order" md-trigger="vm.getUsers">
                <tr>
                    <th name="编号"></th>
                    <th name="用户"></th>
                    <th name="注册码"></th>
                    <th name="IMEI"></th>
                    <th name="添加时间"></th>
                    <th name="操作"></th>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select ng-repeat="device in devices">
                    <td><a href="{{::user.html_url}}"><img ng-src="{{::user.avatar_url}}"/></a></td>
                    <td></td>
                    <td>{{::device.device_sn}}</td>
                    <td>{{::device.device_imei}}</td>
                    <td>{{::device.create_time}}</td>
                    <td>
                        <md-button ng-click="" class="md-primary">详情</md-button>
                        <md-button ng-click="deleteThisItem()" class="md-warn">删除</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-trigger="vm.getUsers"></md-data-table-pagination>
</div>
