<md-card style="padding:0;margin:0">
    <md-card-content>
        <div class="content-padded">
            <h2 class="md-title">
                {{vm.posStatus.title}}
                <md-button ng-click="vm.posStatus.backToWhole()" id="returnRoWholeBtn" class="md-raised md-primary">返回</md-button>
            </h2>
        </div>
        <md-divider></md-divider>
        <div layout layout-sm="column" flex>
            <md-input-container flex>
                <label>地区</label>
                <md-select class="md-select-form" ng-model="vm.user.favouriteColor" placeholder="地区">
                    <md-option ng-value="sex" ng-repeat="sex in ['男', '女']">{{sex}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>地区</label>
                <md-select class="md-select-form" ng-model="vm.user.favouriteColor" placeholder="地区">
                    <md-option ng-value="yesorno" ng-repeat="yesorno in ['是', '否']">{{yesorno}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>根据设备序列号或手机号回车搜索</label>
                <input ng-keyup="vm.startSearch($event)" ng-model="vm.search.content" type="text">
            </md-input-container>
        </div>
        
        <style type="text/css">
    
            #amap-container {
                width: 100%;
                height: 400px;
            }

            #returnRoWholeBtn {
                display: none;
            }

        </style>

        <div id="amap-container"></div>

        <button ng-click="startAnimation()">start</button>
        <button ng-click="stopAnimation()">stop</button>
    
    </md-card-content>
</md-card>

<script type="text/javascript">
    
    var followUp = function(mobile) {
        if(mobile == null) {
            alert('参数错误');
        }
        for(key in markerList) {
            console.log(key);
            var markerListCurrentMarker = markerList[key]['marker'];
        }
        for (var i = markerStack.length - 1; i >= 0; i--) {
            if(markerStack[i].Rd.position === currentMarker.target.Rd.position){
                continue;
            }
            markerStack[i].setMap();
        };
        infoWindow.setContent('');
        $('#returnRoWholeBtn').show();
        ServicesPosVM.posStatus.title = "位置信息追踪";
    }

</script>
