body{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #333;
	font-family: Tahoma,"宋体";
	background:url(../images/bg.png) repeat-x top;
}

a:hover{
	text-decoration: underline;
}

header{
	width: 100%;
	text-align: center;
}

section{
	text-align: center;
	margin: 0 auto;
}

.center{
	margin:-3px auto;
	width: 938px;
}

.left_logo{
	width: 547px;
	height: 351px;
	margin-top: -4px;
	position: absolute;
	margin:0 auto;
}

.login_form{
	position: absolute;
	margin-top: -308px;
	margin-left: -12px;
}

.login_form form input{
	height: 20px;
	border: none;
	width: 205px;
	margin-bottom:18px;
}

.login_form #confirm{
	position: absolute;
	margin-top: 122px;
	margin-left: -210px;
	cursor: pointer;
}

.user_login_tip{
	float: left;
	margin-top: -4px;
	padding-top: 29px;
}

.user_login_right{
	position: absolute;
	margin-top: -4px;
	margin-left: 540px;
}

.welcome{
	width: auto;
	position: relative;
	margin-top: -170px;
	margin-bottom: -2px;
	font-size: 12px;
    color: #333;
    text-align: right;
    font-family: Tahoma,"宋体";
}

.welcome a{
	text-decoration: none;
	color: #333;
}

.welcome a:hover{
	text-decoration: underline;
}

.info{
	width: 928px;
	margin: 0 auto;
	display: table;
	margin-top: 104px;
}

.info ul{
	display: table-row;
}

.info ul li{
	display: table-cell;
}

.info ul li:first-child{
	width: 570px;
	background: rgb(255,255,255);
}

.info ul li:nth-child(2){
	width: 285px;
	background: rgb(240,245,248);
	padding: 15px 0px 0px 0px;
	overflow: hidden;
}

.tools{
	margin-top: 10px;
}

.btn_list{
	margin-top: 152px;
	margin-left: 168px;
}

.btn_list a:hover{
	color: rgb(73,191,254);
}

.tools .button1{
	margin-bottom: 30px;
	display: block;
}

.title, .title3, .title_r {
    clear: both;
    padding: 0px 0px 6px;
    border-bottom: 1px dotted #CDCDCD;
    color: #313131;
    position: relative;
    overflow: hidden;
}

.bg{
	background: rgb(240,245,248);
}

.mb7 {
    margin-bottom: 7px;
}

.title span {
    line-height: 16px;
    position: absolute;
    right: 0px;
    top: 1px;
    font-family: "宋体";
}

table{
	font-size: 14px;
	color: #333;
	font-family: Tahoma,"宋体";
}

.my_info{
	margin-top: -576px;
	margin-left: 30px;
	text-align: left;
}

.my_info tr td a{
	text-decoration: none;
	color: rgb(38,99,146);
}

.my_info tr td a:hover{
	text-decoration: underline;
}

a.button1 {
    height: 32px;
    line-height: 32px;
    background-position: -710px -340px;
}
a.button, a.button1 {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #464646;
    text-decoration: none;
    font-weight: bold;
    background-position: -710px -275px;
}

footer{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.login-panel{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 65535;
}

.login-box{
	position: relative;
	z-index: 65535;
	margin: 0 auto;
	width: 650px;
	margin-top: 100px;
	background: rgb(250,250,250);
	border-radius: 4px;
	padding: 10px;
}

.login_box_title{
	width: 100%;
	text-align: center;
	color: #333;
}

.login_box_content{
	display: table;
	width: 100%;
}

.login_box_content ul{
	display: table-row;
}

.login_box_content ul li{
	display: table-cell;
	width: 50%;
	padding: 20px;
}

.login_box_register{
	color: #666;
	margin-bottom: 10px;
}

.login_box_input input{
	margin-bottom: 14px;
}

.login_box_close{
	float: right;
	margin-top: -60px;
	cursor: pointer;
}

table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
	width: 100%;
}

table.altrowstable tr:nth-child(even){
	background-color:rgb(240,240,240);
}

table.altrowstable tr:nth-child(odd){
	background-color:#FFFFFF;
}

table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.altrowstable td {
	text-align: center;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	word-wrap: break-word;
}

.round {
    width: 413px;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
}

.round .round_container {
    float: left;
    width: 403px;
    padding: 0px 5px;
    margin: 0px;
    overflow: hidden;
    background: transparent url("../images/r_center.png") repeat-y scroll left top;
}

.round .r_top {
    background-position: 0px -510px;
}

.round .r_top, .round .r_bottom {
    float: left;
    width: 413px;
    height: 5px;
    overflow: hidden;
}

.round .round_container .r_title {
    width: 403px;
    height: 30px;
    line-height: 30px;
    background: #F1F7FC none repeat scroll 0% 0%;
    text-indent: 9px;
    font-size: 14px;
    position: relative;
    text-align: left;
}

.round .round_container .r_title a.close, a.close:hover {
    right: 7px;
    top: 6px;
}

a.close,.a.close:hover {
    width: 17px;
    height: 17px;
    position: absolute;
    background-position: -675px -130px;
    background-image: url("../images/bg2.png");
	background-repeat: no-repeat;
}

.round .r_bottom {
    background-position: 0px -517px;
}

.round .r_top, .round .r_bottom {
    float: left;
    width: 413px;
    height: 5px;
    overflow: hidden;
}

.r_bottom,.r_top{
    background-image: url("../images/shadow_bg.png");
}

.btn_em, .btn_dft {
    width: 69px;
    height: 32px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: medium none;
    color: #464646;
    background: transparent url("../images/verification_button.png") no-repeat scroll left top;
}

/*
听力 30分
阅读理解 40分 综合训练预备级第二册 课外 2:2
词汇题 10分 20题 课后练习 A B
完形填空 课内或课外 10分
段落翻译 中到英
*/