body, html{
	width: 100%;
	height: 100%;
	margin:0;
	font-family:"微软雅黑";
	font-size: 16px;
}

#allmap{
	height:500px;
	width:100%;
}

#r-result{
	width:100%;
	font-size:14px;
}

.content-head{
	width: 100%;
	height: 50px;
	background: rgb(251,251,251);
	border-bottom: 2px solid rgb(242,242,245);
	margin-bottom: 5px;
}

.main-title{
	/*font-size: 18px;
	margin-left: 40px;*/
	margin: 0 auto;
	font-size: 16px;
	list-style: none;
}

.main-title li{
	float: left;
	padding-top: 14px;
	height: 36px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.main-title li:hover{
	background: rgb(238,238,238);
	cursor: pointer;
}

.title-active{
	background: rgb(238,238,238);
}

#service-title{
	cursor: default;
}

#service-title:hover{
	background: rgb(251,251,251);
}

.main-title a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.main-title a:hover{color: rgb(98,145,231);}

.content-body{
	width: 100%;
}

.console{
	width: 100%;
	background: rgb(251,251,251);
	border-top: 1px solid rgb(242,242,245);
	border-bottom: 1px solid rgb(242,242,245);
	border-radius: 3px;
	margin-bottom: 1px;
	padding-bottom: 8px;
}

.console-head{
	/*height: 30px;*/
	border-bottom: 2px solid rgb(242,242,245);
	color: rgb(128,128,128);
	padding-top: 5px;
	padding-left: 10px;
}

.console-body{
	margin-left: 10px;
	padding-top: 5px;
}

.btn{
	height: 30px;
	background: rgb(238,238,238);
	color: rgb(80,80,80);
	font-family:"微软雅黑";
	border:none;
}

.btn:hover{
	background: rgb(220,220,220);
	cursor: pointer;
}

.textbox{
	height:16px;
}

.map-zone{
	border-top:1px solid rgb(242,242,245);
	border-bottom:1px solid rgb(242,242,245);
	border-radius: 3px;
	margin-top: 5px;
}

.content-footer{
	width: 100%;
	height: 20px;
	background: rgb(251,251,251);
	border-top: 2px solid rgb(242,242,245);
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.content-footer-flag{
	width: 300px;
	margin: 0 auto;
}

.tools{
	border-top: 1px solid rgb(242,242,245);
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 1167px;
}

.content-box{
	height: 100%;
}

.box-header{
	text-align: center;
	width:100%;
	font-size: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb(220,220,220);
}
