<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">线路地域管理</h1>
		</div>
		<!-- /.col-lg-12 -->

		<style type="text/css">
			
			button{
				border-radius: 0!important;
				margin-top: -1px!important;
			}

		</style>

		<div class="col-md-12">
			<button type="button" data-toggle="modal" data-target="#route_start" class="btn btn-outline btn-info btn-lg btn-block">出发地管理</button>
			<button type="button" data-toggle="modal" data-target="#route_end" class="btn btn-outline btn-info btn-lg btn-block">目的地管理</button>

			<div class="modal fade" id="route_start" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="gridSystemModalLabel">出发地管理</h4>
			      </div>
			      <div class="modal-body">
			      	<div class="table-responsive">
			      		<button ng-click="addRouteStart()" class="btn btn-outline btn-success">新增出发城市</button>

			      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
					      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					      {{status.message}}
					    </div>
			      		
			      		<div class="well" ng-show="isEdit" style="margin-top:15px">

			      			<div class="form-group">
							    <label for="edit_title">名称</label>
							    <input type="text" ng-model="editRoute.title" class="form-control" id="edit_title" placeholder="名称" required>
						  	</div>
						  	<div class="form-group">
							    <label for="edit_orderindex">排序</label>
							    <input type="number" ng-model="editRoute.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
						  	</div>
						  	<button type="submit" ng-click="cancelToEditRoute()" class="btn btn-default">取消</button>
						  	<button type="submit" ng-click="confirmToEditRouteStart()" class="btn btn-default">修改</button>

			      		</div>

			      		<div class="well" ng-show="isAdd" style="margin-top:15px">

			      			<div class="form-group">
							    <label for="add_title">名称</label>
							    <input type="text" ng-model="addRoute.title" class="form-control" id="add_title" placeholder="名称" required>
						  	</div>
						  	<div class="form-group">
							    <label for="add_orderindex">排序</label>
							    <input type="number" ng-model="addRoute.order" class="form-control" id="add_orderindex" placeholder="排序" required>
						  	</div>
						  	<button type="submit" ng-click="cancelToAddRoute()" class="btn btn-default">取消</button>
						  	<button type="submit" ng-click="confirmToAddRouteStart()" class="btn btn-default">添加</button>

			      		</div>

	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>编号</th>
	                                <th>名称</th>
	                                <th>排序</th>
	                                <th>操作</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        	<tr ng-repeat="x in allRoutes.data">
	                        		<td>{{x.id}}</td>
	                                <td>{{x.title}}</td>
	                                <td>{{x.orderindex}}</td>
	                                <td>
	                                	<button ng-click="editRouteStart(x.id,x.title,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
	                                	<button ng-click="deleteRouteStart(x.id)" class="btn btn-outline btn-link">删除</button>
	                                </td>
	                        	</tr>
	                        </tbody>
	                    </table>
	                </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
			        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
			      </div>
			    </div>
			  </div>
			</div>

			<div class="modal fade" id="route_end" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="gridSystemModalLabel">目的地管理</h4>
			      </div>
			      <div class="modal-body">
			      	<button ng-click="addRouteEnd()" class="btn btn-outline btn-success">新增目的地城市</button>

					<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
					    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					      {{status.message}}
					</div>
			      		
		      		<div class="well" ng-show="isEdit" style="margin-top:15px">

		      			<div class="form-group">
						    <label for="edit_title">名称</label>
						    <input type="text" ng-model="editRoute.title" class="form-control" id="edit_title" placeholder="名称" required>
					  	</div>
					  	<div class="form-group">
						    <label for="edit_orderindex">排序</label>
						    <input type="number" ng-model="editRoute.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
					  	</div>
					  	<button type="submit" ng-click="confirmToEditRouteEnd()" class="btn btn-default">修改</button>
					  	<button type="submit" ng-click="cancelToEditRoute()" class="btn btn-default">取消</button>
		      		</div>

		      		<div class="well" ng-show="isAdd" style="margin-top:15px">

		      			<div class="form-group">
						    <label for="add_title">名称</label>
						    <input type="text" ng-model="addRoute.title" class="form-control" id="add_title" placeholder="名称" required>
					  	</div>
					  	<div class="form-group">
						    <label for="add_orderindex">排序</label>
						    <input type="number" ng-model="addRoute.order" class="form-control" id="add_orderindex" placeholder="排序" required>
					  	</div>
					  	<button type="submit" ng-click="confirmToAddRouteEnd()" class="btn btn-default">添加</button>
					  	<button type="submit" ng-click="cancelToAddRoute()" class="btn btn-default">取消</button>
		      		</div>

	                <table class="table table-hover">
	                    <thead>
	                        <tr>
	                            <th>编号</th>
	                            <th>名称</th>
	                            <th>排序</th>
	                            <th>操作</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="x in allRoutesEnd.data">
	                            <td>{{x.id}}</td>
	                            <td>{{x.title}}</td>
	                            <td>{{x.orderindex}}</td>
	                            <td>
	                                <button ng-click="editRouteEnd(x.id,x.title,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
	                                <button ng-click="deleteRouteEnd(x.id)" class="btn btn-outline btn-link">删除</button>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	                    <!-- <div class="text-right">
	                    	<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
	                    </div> -->
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>
			
		</div>

	</div>
	<!-- /.row -->
</div>