<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">线路产品管理</h1>
		</div>
		<!-- /.col-lg-12 -->

		<style type="text/css">
			
			button{
				border-radius: 0!important;
				margin-top: -1px!important;
			}

		</style>
		
		<div class="col-md-12">
			
			<div class="panel-body route-mgr-list">

				<p>
					<!-- <button type="button" data-toggle="modal" data-target="#route_list_new" class="btn btn-outline btn-success btn-lg btn-block">新增线路</button> -->
		            <button type="button" data-toggle="modal" data-target="#route_list" class="btn btn-outline btn-success btn-lg btn-block">线路列表</button>
					<!-- <button type="button" data-toggle="modal" data-target="#route_start" class="btn btn-outline btn-info btn-lg btn-block">出发地管理</button>
					<button type="button" data-toggle="modal" data-target="#route_end" class="btn btn-outline btn-info btn-lg btn-block">目的地管理</button>-->				
					<button type="button" data-toggle="modal" data-target="#route_constract"  class="btn btn-outline btn-primary btn-lg btn-block">旅游产品合同</button>
					<button type="button" data-toggle="modal" data-target="#route_category"  class="btn btn-outline btn-primary btn-lg btn-block">旅游产品分类</button>
					<button type="button" data-toggle="modal" data-target="#route_attr"  class="btn btn-outline btn-primary btn-lg btn-block">旅游产品属性</button>
					<button type="button" data-toggle="modal" data-target="#route_insure"  class="btn btn-outline btn-primary btn-lg btn-block">旅游保险</button>
				</p>

				<div class="modal fade routesListNewCls" ng-controller="RouteListNew" id="route_list_new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">{{modalTitle}}</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>

								<h4>线路</h4>
							
		                    	<div class="form-group">
								    <label>线路名称</label>
								    <input type="text" class="form-control"  ng-model="title"  placeholder="线路名称">
								</div>
								
								<div class="form-group">
									<label>所属分类</label>:{{category}}
									<select ng-model="category" class="form-control">
										<option value="{{x.id}}" ng-repeat="x in allCategories.data">{{x.name}}</option>
									</select>
								</div>

								<div class="form-group">
									<label>行程天数</label>
									<input type="number" class="form-control" ng-change="changePlanDays()" ng-model="trip_days"  placeholder="行程天数">
								</div>

								<div class="form-group">
									<label>上传封面</label>
									
									<script type="text/javascript">
									
									function uploadevent(status,picUrl,callbackdata){
									    status += '';
									     switch(status){
									     case '1':
											var time = new Date().getTime();
											var filename162 = picUrl+'_162.jpg';
											var filename48 = picUrl+'_48.jpg';
											var filename20 = picUrl+"_20.jpg";

											localStorage.currentImageUploadedURL=filename162;

										break;
									     case '-1':
										  window.location.reload();
									     break;
									     default:
									     window.location.reload();
									    } 
									   }

									</script>
									
									<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
									codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
									WIDTH="650" HEIGHT="450" id="myMovieName">
										<PARAM NAME=movie VALUE="avatar.swf">
										<PARAM NAME=quality VALUE=high>
										<PARAM NAME=bgcolor VALUE=#FFFFFF>
										<param name="flashvars" value="imgUrl=./default.png&uploadUrl=./upfile.php&uploadSrc=false" />
										<EMBED src="avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="450" wmode="transparent" flashVars="imgUrl=./default.png&uploadUrl=./upfile.php&uploadSrc=false"
										NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
										PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
										</EMBED>
									</OBJECT>
								</div>

								<div class="form-group">
									<label>出发城市</label>:{{area_start}}
									<select ng-model="area_start" class="form-control">
										<option value="{{x.id}}" ng-repeat="x in allRoutes.data">{{x.title}}</option>
									</select>
								</div>

								<div class="form-group">
									<label>目的地城市</label>:{{area_end}}
									<select ng-model="area_end" class="form-control">
										<option selected>{{end}}</option>
										<option value="{{x.id}}" ng-hide="x.title==end" ng-repeat="x in allRoutesEnd.data">{{x.title}}</option>
									</select>
								</div>

								<div class="form-group">
									<label>上架属性</label>:{{attr}}
									<select ng-model="attr" class="form-control">
										<option selected>{{attrname}}</option>
										<option value="{{x.id}}" ng-hide="x.title==attrname" ng-repeat="x in allAttrs.data">{{x.title}}</option>
									</select>
								</div>

								<div class="form-gourp">
									<label>是否上架</label>
									<input  type="radio" name="isapproved" ng-model="isapproved" value="1" /> 是
									<input type="radio" name="isapproved" ng-model="isapproved"  value="0" /> 否
								</div>

								<div class="form-group">
									<label>是否购买保险</label>
									<input type="radio" name="is_insure" ng-model="is_insure"  value="1" /> 是
									<input type="radio" name="is_insure" ng-model="is_insure"  value="0" /> 否
								</div>

								<div class="form-group">
									<label>旅游合同</label>:{{constract}}
									<select ng-model="constract" class="form-control">
										<option value="{{x.id}}" ng-repeat="x in allConstract.data">{{x.title}}</option>
									</select>
								</div>

								<div class="form-group">
									<label>剩余预定数量</label>
									<input class="form-control" type="number" ng-model="num_rest" placeholder="剩余预定数量">
								</div>

								<div class="form-group">
									<label>限购人数</label>
									<input class="form-control" type="number" ng-model="num_limit" placeholder="限购人数">
								</div>

								<div class="form-group">
									<label>排序</label>
									<input class="form-control" type="number" ng-model="order_index">
								</div>

								<div class="form-group">
									<label>分享送的积分</label>
									<input class="form-control" type="number" ng-model="share_score">
								</div>

								<div class="form-group">
									<label>特色介绍</label>
									<textarea ng-model="content" id="g_edit_feature_introduction" class="form-control" row="5"></textarea>
								</div>

						        <h4>行程安排(默认显示第一天)</h4>
						        
						        <div class="form-group">
						        	<label>行程安排</label>
						        	<select ng-model="plan_day" ng-change="generatorPlan()" class="form-control">
						        		<option ng-hide="$index==0" ng-repeat="x in plan_day_datas">第{{x}}天</option>
						        	</select>
						        </div>

						        <div class="form-group">
						        	<label>行程标题</label>
						        	<input class="form-control" ng-change="changePlanTitle()" type="text" ng-model="plan_title" placrholder="行程标题">
						        </div>

						        <div class="form-group">
						        	<label>用餐</label>
						        	<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="breakfast" ng-change="changePlanBreakfast()" ng-model="plan_food_breakfast" name="food" ng-true-value="1" ng-false-value="0"> 早餐
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="lunch" ng-change="changePlanLunch()" name="food" ng-model="plan_food_lunch" ng-true-value="1" ng-false-value="0"> 午餐
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="dinner" ng-change="changePlanDinner()" name="food" ng-model="plan_food_dinner" ng-true-value="1" ng-false-value="0"> 晚餐
									</label>
						        </div>

						        <div class="form-group">
						        	<label>住宿</label>
						        	<input type="text" class="form-control" ng-change="changePlanRoom()" ng-model="plan_room" placeholder="住宿">
						        </div>

						        <div class="form-group">
						        	<label>内容</label>
						        	<textarea class="form-control" row="5" ng-change="changePlanDesc()" ng-model="plan_description"></textarea>
						        </div>

						        <h4>其它内容</h4>

						        <div class="form-group">
						        	<label>补充协议</label>
									<textarea class="form-control" id="g_edit_constract_plus" rows="5" ng-model="contract_add"></textarea>
						        </div>

						        <div class="form-group">
						        	<label>预定须知</label>
						        	<textarea class="form-control" id="g_edit_notice_reserve" rows="5" ng-model="mustknow"></textarea>
						        </div>

						        <div class="form-group">
						        	<label>温馨提示</label>
						        	<textarea class="form-control" id="g_edit_tips" rows="5" ng-model="tip"></textarea>
						        </div>

						        <div class="form-group">
						        	<label>费用包含</label>
						        	<textarea class="form-control" id="g_edit_fee_included" rows="5" ng-model="fee_included"></textarea>
						        </div>

						        <div class="form-group">
						        	<label>费用不包含</label>
						        	<textarea class="form-control" id="g_edit_fee_notincluded" rows="5" ng-model="fee_noincluded"></textarea>
						        </div>

						        <h4>成本价格</h4>
						        
						        <div class="form-group">
						        	<label>老人价</label>
						        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_basic">
						        </div>

						        <div class="form-group">
						        	<label>成人价</label>
						        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_basic">
						        </div>

						        <div class="form-group">
						        	<label>儿童价</label>
						        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_basic">
						        </div>

								<h4>销售价格</h4>

								<div class="form-group">
									<label>老人价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_sell">
								</div>

								<div class="form-group">
									<label>成人价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_sell">
								</div>

								<div class="form-group">
									<label>儿童价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_sell">
								</div>

								<h4>市场价格</h4>

								<div class="form-group">
									<label>老人价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_market">
								</div>

								<div class="form-group">
									<label>成人价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_market">
								</div>

								<div class="form-group">
									<label>儿童价</label>
									<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_market">
								</div>

		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <button type="button" ng-click="addProduct()" class="btn btn-outline btn-primary">提交</button>
				      </div>
				    </div>
				  </div>
				</div>

            	<div class="modal fade routesList" ng-controller="HQRouteListMgr" id="route_list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">线路列表</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>

		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>pid</th>
		                                <th>名称</th>
		                                <th>封面</th>
		                                <th>属性</th>
		                                <th>分类</th>
		                                <th>出发地</th>
		                                <th>目的地</th>
		                                <th>排序</th>
		                                <th>已审核</th>
		                                <th>操作</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr ng-repeat="x in allTravelRoutes | orderBy:'order_index'">
		                        		<td>{{x.pid}}</td>
		                                <td>{{x.title}}</td>
		                                <td><img width="100" height="50" src="{{x.img}}"></td>
		                                <td>{{x.attrname}}</td>
		                                <td>{{x.categoryname}}</td>
		                                <td>{{x.start}}</td>
		                                <td>{{x.end}}</td>
		                                <td>{{x.order_index}}</td>
		                                <td>{{x.isapproved}}</td>
		                                <td>
		                                	<button ng-click="approveThis(x.pid)" class="btn btn-outline btn-link">通过</button>
		                                	<!-- <button ng-click="viewThis(x.pid)" class="btn btn-outline btn-link">查看</button> -->
		                                	<button ng-click="editThis(x.pid)" class="btn btn-outline btn-link">编辑</button>
		                                	<button ng-click="deleteTravelRoute(x.pid)" class="btn btn-outline btn-link">删除</button>
		                                </td>
		                        	</tr>
		                        </tbody>
		                    </table>
		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" ng-controller="TravelProductConstract" id="route_constract" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">旅游产品合同</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">
				      		<button ng-click="addItem()" class="btn btn-outline btn-success">新增产品合同</button>

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>
				      		
				      		<div class="well" ng-show="isEdit" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="edit_title">名称</label>
								    <input type="text" ng-model="inputExists.title" class="form-control" id="edit_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="edit_orderindex">排序</label>
								    <input type="number" ng-model="inputExists.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToEditItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToEditItem()" class="btn btn-default">修改</button>

				      		</div>

				      		<div class="well" ng-show="isAdd" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="add_title">名称</label>
								    <input type="text" ng-model="input.title" class="form-control" id="add_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="add_orderindex">排序</label>
								    <input type="number" ng-model="input.order" class="form-control" id="add_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToAddItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToAddItem()" class="btn btn-default">添加</button>

				      		</div>

		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>编号</th>
		                                <th>名称</th>
		                                <th>排序</th>
		                                <th>描述</th>
		                                <th>操作</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr ng-repeat="x in allConstract.data">
		                        		<td>{{x.id}}</td>
		                                <td>{{x.title}}</td>
		                                <td>{{x.orderindex}}</td>
		                                <td>{{x.description}}</td>
		                                <td>
		                                	<button ng-click="editItem(x.id,x.title,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
		                                	<button ng-click="deleteItem(x.id)" class="btn btn-outline btn-link">删除</button>
		                                </td>
		                        	</tr>
		                        </tbody>
		                    </table>
		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" ng-controller="TravelProductCategory" id="route_category" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">旅游产品分类</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">
				      		<button ng-click="addItem()" class="btn btn-outline btn-success">新增产品分类</button>

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>
				      		
				      		<div class="well" ng-show="isEdit" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="edit_title">名称</label>
								    <input type="text" ng-model="inputExists.title" class="form-control" id="edit_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="edit_orderindex">排序</label>
								    <input type="number" ng-model="inputExists.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToEditItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToEditItem()" class="btn btn-default">修改</button>

				      		</div>

				      		<div class="well" ng-show="isAdd" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="add_title">名称</label>
								    <input type="text" ng-model="input.title" class="form-control" id="add_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="add_orderindex">排序</label>
								    <input type="number" ng-model="input.order" class="form-control" id="add_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToAddItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToAddItem()" class="btn btn-default">添加</button>

				      		</div>

		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>编号</th>
		                                <th>名称</th>
		                                <th>排序</th>
		                                <th>操作</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr ng-repeat="x in allCategories.data">
		                        		<td>{{x.id}}</td>
		                                <td>{{x.name}}</td>
		                                <td>{{x.orderindex}}</td>
		                                <td>
		                                	<button ng-click="editItem(x.id,x.name,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
		                                	<button ng-click="deleteItem(x.id)" class="btn btn-outline btn-link">删除</button>
		                                </td>
		                        	</tr>
		                        </tbody>
		                    </table>
		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" ng-controller="TravelProductAttr" id="route_attr" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">旅游产品属性</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">
				      		<button ng-click="addItem()" class="btn btn-outline btn-success">新增产品属性</button>

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>
				      		
				      		<div class="well" ng-show="isEdit" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="edit_title">名称</label>
								    <input type="text" ng-model="inputExists.title" class="form-control" id="edit_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="edit_orderindex">排序</label>
								    <input type="number" ng-model="inputExists.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToEditItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToEditItem()" class="btn btn-default">修改</button>

				      		</div>

				      		<div class="well" ng-show="isAdd" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="add_title">名称</label>
								    <input type="text" ng-model="input.title" class="form-control" id="add_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="add_orderindex">排序</label>
								    <input type="number" ng-model="input.order" class="form-control" id="add_orderindex" placeholder="排序" required>
							  	</div>
							  	<button type="submit" ng-click="cancelToAddItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToAddItem()" class="btn btn-default">添加</button>

				      		</div>

		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>编号</th>
		                                <th>名称</th>
		                                <th>排序</th>
		                                <th>操作</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr ng-repeat="x in allAttrs.data">
		                        		<td>{{x.id}}</td>
		                                <td>{{x.title}}</td>
		                                <td>{{x.orderindex}}</td>
		                                <td>
		                                	<button ng-click="editItem(x.id,x.title,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
		                                	<button ng-click="deleteItem(x.id)" class="btn btn-outline btn-link">删除</button>
		                                </td>
		                        	</tr>
		                        </tbody>
		                    </table>
		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" ng-controller="TravelProductInsure" id="route_insure" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">旅游保险</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="table-responsive">
				      		<button ng-click="addItem()" class="btn btn-outline btn-success">新增旅游保险</button>

				      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
						      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						      {{status.message}}
						    </div>
				      		
				      		<div class="well" ng-show="isEdit" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="edit_title">名称</label>
								    <input type="text" ng-model="inputExists.title" class="form-control" id="edit_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="edit_orderindex">排序</label>
								    <input type="number" ng-model="inputExists.orderindex" class="form-control" id="edit_orderindex" placeholder="排序" required>
							  	</div>
							  	<div class="form-group">
							  		<label for="edit_insure_desc">描述</label>
							  		<textarea class="form-control" ng-model="inputExists.insureDesc"></textarea>
							  	</div>
							  	<button type="submit" ng-click="cancelToEditItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToEditItem()" class="btn btn-default">修改</button>

				      		</div>

				      		<div class="well" ng-show="isAdd" style="margin-top:15px">

				      			<div class="form-group">
								    <label for="add_title">名称</label>
								    <input type="text" ng-model="input.title" class="form-control" id="add_title" placeholder="名称" required>
							  	</div>
							  	<div class="form-group">
								    <label for="add_orderindex">排序</label>
								    <input type="number" ng-model="input.order" class="form-control" id="add_orderindex" placeholder="排序" required>
							  	</div>
							  	<div class="form-group">
							  		<label for="add_inputInsure">描述</label>
							  		<textarea class="form-control" ng-model="input.insureDesc"></textarea>
							  	</div>
							  	<button type="submit" ng-click="cancelToAddItem()" class="btn btn-default">取消</button>
							  	<button type="submit" ng-click="confirmToAddItem()" class="btn btn-default">添加</button>

				      		</div>

		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>编号</th>
		                                <th>名称</th>
		                                <th>排序</th>
		                                <th>描述</th>
		                                <th>操作</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr ng-repeat="x in allInsures.data">
		                        		<td>{{x.id}}</td>
		                                <td>{{x.title}}</td>
		                                <td>{{x.orderindex}}</td>
		                                <td>{{x.description}}</td>
		                                <td>
		                                	<button ng-click="editItem(x.id,x.title,x.orderindex)" class="btn btn-outline btn-link">编辑</button>
		                                	<button ng-click="deleteItem(x.id)" class="btn btn-outline btn-link">删除</button>
		                                </td>
		                        	</tr>
		                        </tbody>
		                    </table>
		                </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				        <!-- <button type="button" class="btn btn-outline btn-primary">Save changes</button> -->
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			</div>

			
		
	</div>
	<!-- /.row -->
</div>