<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">供货商管理</h1>
		</div>
		<!-- /.col-lg-12 -->
		<div class="col-md-12">
<!-- 			<div class="col-lg-6">
			    <div class="input-group">
			      <input type="text" ng-model="searchCondition" ng-change="searchConditionChange()" class="form-control" placeholder="输入手机号搜索">
			      <span class="input-group-btn">
			        <button ng-click="searchForSpecificUser()" class="btn btn-default" type="button">搜索</button>
			      </span>
			    </div>
			</div>
 -->
			<table class="table table-hover">
		        <thead>
		            <tr>
		                <th>sbid</th>
		                <th>uid</th>
		                <th>名称</th>
		                <th>省</th>
		                <th>市</th>
		                <th>区</th>
		                <th>街道</th>
		                <th>状态</th>
		                <th>图1</th>
		                <th>图2</th>
		                <th>图3</th>
		                <th>操作</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr ng-repeat="x in allTravelSupply.data">
		        		<td>{{x.sbid}}</td>
		                <td>{{x.uid}}</td>
		                <td>{{x.sbname}}</td>
		                <td>{{x.province}}</td>
		                <td>{{x.city}}</td>
		                <td>{{x.district}}</td>
		                <td>{{x.street}}</td>
		                <td>{{x.status}}</td>
		                <td><img width="80" height="80" alt="{{x.sbname}}" src="{{x.image1}}"></td>
		                <td><img width="80" height="80" alt="{{x.sbname}}" src="{{x.image2}}"></td>
		                <td><img width="80" height="80" alt="{{x.sbname}}" src="{{x.image3}}"></td>
		                <td>
		                	<button ng-click="approve(x.uid)" class="btn btn-outline btn-link">通过</button>
		                </td>
		        	</tr>
		        </tbody>
		    </table>

		    <nav style="background:rgb(255,255,255)!important">
			  <ul class="pager">
			    <li ng-click="loadPrevPage()"><a href="javascript:void(0)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
			    <li ng-click="loadNextPage()"><a href="javascript:void(0)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>
		</div>
	</div>
	<!-- /.row -->
</div>