<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">角色管理</h1>
		</div>
		<!-- /.col-lg-12 -->

		<div class="col-md-12">
			<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			      {{status.status}}
		    </div>

		    <div class="modal fade edit-supplier" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
					   	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="gridSystemModalLabel">授权用户组</h4>
					    </div>
					    <div class="modal-body">
					    	<h3>授权用户组</h3>
					    	<div class="container-fluid">
          						<div class="row">
	          						<div class="col-md-12">
										<div style="margin-bottom:15px">
											<span>已有用户组</span>
											<span style="margin-right:4px" ng-repeat="x in UserGroups" class="label label-info">{{x}}</span>
										</div>
										<div class="form-group">
											<button ng-click="setRoot()" class="btn btn-outline btn-default">设置超级管理员</button>
											<button ng-click="unsetRoot()" class="btn btn-outline btn-default">取消超级管理员</button>
											<button ng-click="setAdmin()" class="btn btn-outline btn-default">设置管理员</button>
											<button ng-click="unsetAdmin()" class="btn btn-outline btn-default">取消管理员</button>
											<button ng-click="setSupply()" class="btn btn-outline btn-default">设置供货商</button>
											<button ng-click="unsetSupply()" class="btn btn-outline btn-default">取消供货商</button>
										</div>
						     		</div>
          						</div>
          					</div>
					    </div>
					    <div class="modal-footer">
					        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
					    </div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
			    <div class="input-group">
			      <input type="text" ng-model="searchCondition" ng-change="searchConditionChange()" class="form-control" placeholder="输入手机号搜索">
			      <span class="input-group-btn">
			        <button ng-click="searchForSpecificUser()" class="btn btn-default" type="button">搜索</button>
			      </span>
			    </div>
			</div>

			<table class="table table-hover">
		        <thead>
		            <tr>
		                <th>uid</th>
		                <th>联系方式</th>
		                <th>姓名</th>
		                <th>用户组</th>
		                <th>操作</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr ng-repeat="x in allSuppliersList.data">
		        		<td>{{x.uid}}</td>
		                <td>{{x.mobile}}</td>
		                <td>{{x.nickname}}</td>
		                <td>{{x.group | nullToVisual}}</td>
		                <td>
		                	<button ng-click="editSupplier(x.uid)" class="btn btn-outline btn-link">编辑</button>
		                	<button ng-click="approve(x.uid)" class="btn btn-outline btn-link">通过</button>
		                	<button ng-click="reject(x.uid)" class="btn btn-outline btn-link">拒绝</button>
		                </td>
		        	</tr>
		        </tbody>
		    </table>

		    <nav style="background:rgb(255,255,255)!important">
			  <ul class="pager">
			    <li ng-click="loadPrevPage()"><a href="javascript:void(0)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
			    <li ng-click="loadNextPage()"><a href="javascript:void(0)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>

		</div>

	</div>
	<!-- /.row -->
</div>