<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">供应商管理</h1>
		</div>
		<!-- /.col-lg-12 -->

		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		      {{status.status}}
	    </div>

		<table class="table table-hover">
	        <thead>
	            <tr>
	                <th>uid</th>
	                <th>联系方式</th>
	                <th>姓名</th>
	                <th>类型</th>
	                <th>图一</th>
	                <th>图二</th>
	                <th>图三</th>
	                <th>帐号是否可用</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="x in supplierListResult">
	        		<td>{{x.uid}}</td>
	                <td>{{x.tel}}</td>
	                <td>{{x.name}}</td>
	                <td>{{x.type}}</td>
	                <td>{{x.image1}}</td>
	                <td>{{x.image2}}</td>
	                <td>{{x.image3}}</td>
	                <td>{{x.isapproved}}</td>
	                <td>
	                	<button ng-click="editSupplier(x.uid,x.tel,x.name,x.type,x.image1,x.image2,x.image3,x.isapproved)" class="btn btn-outline btn-link">编辑</button>
	                	<button ng-click="deleteSupplier(x.uid)" class="btn btn-outline btn-link">删除</button>
	                </td>
	        	</tr>
	        </tbody>
	    </table>

	</div>
	<!-- /.row -->
</div>