<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">旅游订单管理</h1>
		</div>
		<!-- /.col-lg-12 -->
	
		<div class="modal fade edit-orders" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				   	<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="gridSystemModalLabel">查看详细信息</h4>
				    </div>
				    <div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<ul class="list-group">
								  <li class="list-group-item">
								  订单ID:{{singleOrderList.orderid | nullToVisual}}</li>
								  <li class="list-group-item">
								  产品名:{{singleOrderList.product_title | nullToVisual}}</li>
								  <li class="list-group-item">
								  下单人:{{singleOrderList.consume_name | nullToVisual}}</li>
								  <li class="list-group-item">
								  保险名:{{singleOrderList.insure_title | nullToVisual}}</li>
								  <li class="list-group-item">
								  产品名:{{singleOrderList.product_title | nullToVisual}}</li>
								  <li class="list-group-item">
								  老人数:{{singleOrderList.oldnum | nullToVisual}} 
								  <input class="pull-right form-control" type="number" ng-show="inputIsShow" ng-model="new_oldnum" placeholder="{{singleOrderList.oldnum | nullToVisual}}" min="0" style="margin-top:-6px; width:160px"></li>
								  <li class="list-group-item">
								  成人数:{{singleOrderList.adultnum | nullToVisual}} 
								  <input class="pull-right form-control" type="number" ng-show="inputIsShow" ng-model="new_adultnum" placeholder="{{singleOrderList.adultnum | nullToVisual}}" min="0" style="margin-top:-6px; width:160px"></li>
								  <li class="list-group-item">
								  儿童数:{{singleOrderList.childnum | nullToVisual}} 
								  <input class="pull-right form-control" type="number" ng-show="inputIsShow" ng-model="new_childnum" placeholder="{{singleOrderList.childnum | nullToVisual}}" min="0" style="margin-top:-6px; width:160px"></li>
								</ul>
							</div>

							<div class="col-md-6">
								<ul class="list-group">
								  <li class="list-group-item">
								  支付类型:{{singleOrderList.paytype | payType}}</li>
								  <li class="list-group-item">
								  旅行状态:{{singleOrderList.travelstatus | nullToVisual}}</li>
								  <li class="list-group-item">
								  支付状态:{{singleOrderList.paystatus | nullToVisual}}</li>
								  <li class="list-group-item">
								  总成本:{{singleOrderList.totalcost | nullToVisual}}
								  <input class="pull-right form-control" type="number" ng-show="inputIsShow" ng-model="new_totalcost" placeholder="{{singleOrderList.totalcost | nullToVisual}}" min="0" style="margin-top: -6px; width: 160px"></li>
								  <li class="list-group-item">
								  旅行日期:{{singleOrderList.tripdate | nullToVisual}}</li>
								  <li class="list-group-item">
								  状态:{{singleOrderList.status | nullToVisual}}</li>
								  <li class="list-group-item">
								  出发城市:{{singleOrderList.start_title.province | nullToVisual}},{{singleOrderList.start_title.city | nullToVisual}},{{singleOrderList.start_title.district | nullToVisual}}</li>
								  <li class="list-group-item">
								  订单价:{{singleOrderList.orderprice | nullToVisual}}
								  <input class="pull-right form-control" type="number" ng-show="inputIsShow" ng-model="new_orderprice" placeholder="{{singleOrderList.orderprice | nullToVisual}}" min="0" style="margin-top: -6px; width: 160px"></li>
								</ul>
							</div>
						</div>
						<div style="margin-bottom:25px;">
							<label>备注</label>
							<textarea class="form-control" name="remark" id="remark" rows="4" placeholder="{{singleOrderList.modifyrecord}}" ng-model="remark"></textarea>
						</div>
						<div class="row">
							<div class="col-md-4">
								<button class="btn btn-primary" ng-show="editBtnIsShow" ng-click="startEdit(singleOrderList.oldnum,singleOrderList.adultnum,singleOrderList.childnum,singleOrderList.totalcost,singleOrderList.orderprice,singleOrderList.modifyrecord,singleOrderList.orderid)">
									修改订单
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<button style="margin-top:15px" class="btn btn-success" ng-show="inputIsShow" ng-click="confirmEdit()">
									确认修改
								</button>
								<button style="margin-left:15px;margin-top:15px" class="btn btn-primary" ng-show="inputIsShow" ng-click="cancelEdit()">
									取消
								</button>
							</div>
						</div>
				    </div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
				    </div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>订单号</th>
						<th>消费者</th>
						<th>保险名</th>
						<th>产品名</th>
						<th>支付类型</th>
						<th>旅游状态</th>
						<th>支付状态</th>
						<th>总价</th>
<!-- 						<th>老人数</th>
						<th>成人数</th>
						<th>儿童数</th>
						<th>订单价</th>
 						<th>备注</th>
						<!-- <th>分公司名</th> -->
<!-- 						<th>邀请人名</th>
						<th>添加人</th>
						<th>添加人手机</th>
 -->						<!--<th>出发地</th>-->
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in allOrders">
					<td>{{x.orderid | nullToVisual}}</td>
					<td uid="{{x.consumeid}}">{{x.consume_name | nullToVisual}}</td>
					<td>{{x.insure_title | nullToVisual}}</td>
					<td>{{x.product_title | nullToVisual}}</td>
					<td>{{x.paytype | payType}}</td>
					<td>{{x.travelstatus | travelStatus}}</td>
					<td>{{x.paystatus | payStatus}}</td>
					<td>{{x.totalcost | nullToVisual}}</td>
<!-- 					<td>{{x.oldnum | nullToVisual}}</td>
					<td>{{x.adultnum | nullToVisual}}</td>
					<td>{{x.childnum | nullToVisual}}</td>		
					<td>{{x.orderprice | nullToVisual}}</td>
					<td>{{x.remark | nullToVisual}}</td>
					<td>{{x.branchid | nullToVisual}}</td> -->
<!-- 					<td>{{x.inviteid | nullToVisual}}</td>
					<td>{{x.addcname | nullToVisual}}</td>
					<td>{{x.addctele | nullToVisual}}</td> -->
					<!--<td>{{x.start_title.province}},{{x.start_title.district}},{{x.start_title.city}}</td>-->
					<td>{{x.status | nullToVisual}}</td>
					<td>
						<button class="btn btn-outline btn-link" ng-click="editorder(x.orderid)">详细</button>
						<button class="btn btn-outline btn-link" ng-show="x.paystatus==0 && x.paytype==2" ng-click="confirmOrder(x.orderid)">确认支付</button>
						<button class="btn btn-outline btn-link" ng-click="confirmTravelStatus(x.orderid)" ng-show="x.travelstatus==2">核准旅游订单</button>
					</td>
					</tr>
				</tbody>
			</table>

			<nav style="background:rgb(255,255,255)!important">
			  <ul class="pager">
			    <li ng-click="loadPrevPage()"><a href="javascript:void(0)"><span aria-hidden="true">&larr;</span> 上一页</a></li>
			    <li ng-click="loadNextPage()"><a href="javascript:void(0)">下一页 <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>
		</div>
	</div>
	<!-- /.row -->
</div>