<md-card style="padding:0;margin:0">
    <md-card-content>
        <div class="content-padded">
            <h2 class="md-title">监控器设备管理</h2>
        </div>
        <md-divider></md-divider>
        <div class="button-toolbar" layout="row" layout-align="start center">
            <md-button ng-click="addNewDevice()" class="md-raised md-primary">新增</md-button>
            <!-- <md-button class="md-raised md-warn">删除</md-button> -->
        </div>
    </md-card-content>
</md-card>

<div ng-controller="TablesAdvancedController as vm">
    <md-data-table-toolbar ng-hide="vm.selected.length || vm.filter.show">
        <h2 class="md-title">监控器设备列表</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
            <!-- <i class="material-icons md-dark">filter_list</i> -->
            <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length  || 1" class="md-data-table-toolbar">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <form flex="" name="vm.filter.form">
            <input type="text" ng-model="query.keywords" id="device-search-input" ng-change="getAllMonitor()" ng-keyup="startSearchMonitor($event)" placeholder="search">
        </form>
        <md-button class="md-icon-button md-raised" ng-click="triggerMonitorSearch()">
            <!-- <md-icon md-font-icon="zmdi zmdi-close"></md-icon> -->
            搜索
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length" layout-align="space-between">
      <div>选择了 {{vm.selected.length}} 个用户</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table">
            <thead md-order="vm.query.order" md-trigger="vm.getUsers">
                <tr>
                    <!-- <th name="编号"></th> -->
                    <th name="设备名"></th>
                    <th name="所属机构"></th>
                    <th name="设备帐号"></th>
                    <th name="设备密码"></th>
                    <th name="设备IP"></th>
                    <!-- <th name="设备域名"></th> -->
                    <th name="端口"></th>
                    <th name="操作"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="device.organization.length != 0" md-auto-select ng-repeat="device in devices">
                    <!-- <td>{{::device.monitor_id | nullToVisual}}</td> -->
                    <td>{{::device.monitor_name | nullToVisual}}</td>
                    <td>{{::device.organization.full_name | nullToVisual}}</td>
                    <td>{{::device.username | nullToVisual}}</td>
                    <td>{{::device.password | nullToVisual}}</td>
                    <td>{{::device.ip | nullToVisual}}</td>
                    <!-- <td>{{::device.domain | nullToVisual}}</td> -->
                    <td>{{::device.monitor_port | nullToVisual}}</td>
                    <td>
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="viewThisItem(device.monitor_id)" class="md-primary">详情/编辑</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="deleteThisItem(device.monitor_id)" class="md-warn">删除</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <!-- Modal -->
    <div class="modal fade" id="new-device" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">新增设备信息</h4>
          </div>
          <div class="modal-body" style="font-size: 1.3em;">
            <div layout="column" flex>
                <md-input-container flex>
                    <label translate>所属机构</label>
                    <md-select class="md-select-form" ng-model="insertDeviceInfo.org_id" placeholder="所属机构">
                        <md-option ng-value="org.id" ng-repeat="org in orgList">{{org.full_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label translate>设备名</label>
                    <textarea ng-model="insertDeviceInfo.monitor_name"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备帐号</label>
                    <textarea ng-model="insertDeviceInfo.username"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备密码</label>
                    <textarea ng-model="insertDeviceInfo.password"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备域名</label>
                    <textarea ng-model="insertDeviceInfo.domain"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备IP</label>
                    <textarea ng-model="insertDeviceInfo.ip"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备端口</label>
                    <textarea ng-model="insertDeviceInfo.monitor_port"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备默认流</label>
                    <textarea ng-model="insertDeviceInfo.default_stream"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>设备SN号</label>
                    <input ng-model="insertDeviceInfo.monitor_sn" type="text">
                </md-input-container>
                <md-input-container>
                    <label translate>设备IMEI号</label>
                    <input ng-model="insertDeviceInfo.monitor_imei" type="text">
                </md-input-container>
                <md-input-container>
                    <label translate>描述</label>
                    <textarea ng-model="insertDeviceInfo.description"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>类型</label>
                    <textarea ng-model="insertDeviceInfo.type"></textarea>
                </md-input-container>
                <md-input-container>
                    <label translate>状态</label>
                    <textarea ng-model="insertDeviceInfo.status"></textarea>
                </md-input-container>
           </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-default" ng-click="saveNewDevice()" data-dismiss="modal">保存</button>
          </div>
        </div>
      </div>
    </div>

    <div layout layout-sm="column" style="padding-left:70%" flex>
        <md-input-container flex>
            <label>总条数: {{monitorInfoCount}}</label>
        </md-input-container>
        <md-input-container flex>
            <label>选择页数</label>
            <md-select class="md-select-form" ng-change="loadNextMonitorPage(monitor_currentPage)" ng-model="monitor_currentPage" placeholder="选择页数" required>
                <md-option ng-value="pageB" ng-repeat="pageB in monitor_total_pages">{{pageB}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
