<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">申请及认证</h1>
		</div>
		<!-- /.col-lg-12 -->

		<div class="col-md-12">
			
			<table>
				<thead>
					<tr>
						<td>
							dsds
						</td>	
					</tr>
				</thead>
			</table>

		</div>
		
		<div class="col-md-12">
			<h4>上传营业执照</h4>
				<img src="">
				<input type="file">
			<h4>上传身份证</h4>
				<img src="">
				<input type="file">
			<h4>其它个人信息</h4>
				<img src="">
				<input type="file">
			
			<a style="margin-top:20px" class="btn btn-outline btn-default">提交信息</a>
		</div>

	</div>
	<!-- /.row -->
</div>