

<div class="modal fade routesListNewCls" data-backdrop="false" data-keyboard="false" ng-controller="RouteListNew" id="route_list_new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridSystemModalLabel">{{modalTitle}}</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="table-responsive">

	      		<div style="margin-top:15px;" ng-show="alertInfo" class="alert alert-warning alert-dismissible fade in" role="alert">
			      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			      {{status.message}}
			    </div>

					<h4>线路</h4>
				
                	<div class="form-group">
					    <label>线路名称</label>
					    <input type="text" class="form-control" ng-model="title" placeholder="线路名称">
					</div>
					
					<div class="form-group">
						<label>所属分类</label>:{{category}}
						<select ng-model="category" class="form-control">
							<option value="{{x.id}}" ng-repeat="x in allCategories.data">{{x.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label>行程天数</label>
						<input type="number" class="form-control" ng-change="changePlanDays()" ng-model="trip_days"  placeholder="行程天数">
					</div>

					<div class="form-group">
						<label>上传封面</label>
						
						<script type="text/javascript">
						
						// function uploadevent(status,picUrl,callbackdata){
						//     status += '';
						//      switch(status){
						//      case '1':
						// 		var time = new Date().getTime();
						// 		var filename162 = picUrl+'_162.jpg';
						// 		var filename48 = picUrl+'_48.jpg';
						// 		var filename20 = picUrl+"_20.jpg";

						// 		localStorage.currentImageUploadedURL=filename162;

						// 	break;
						//      case '-1':
						// 	  window.location.reload();
						//      break;
						//      default:
						//      window.location.reload();
						//     } 
						// }

						</script>
						
						<!-- <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
						codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
						WIDTH="650" HEIGHT="450" id="myMovieName">
							<PARAM NAME=movie VALUE="avatar.swf">
							<PARAM NAME=quality VALUE=high>
							<PARAM NAME=bgcolor VALUE=#FFFFFF>
							<param name="flashvars" value="imgUrl=./default.png&uploadUrl=./upfile.php&uploadSrc=false&pCut=720|400&pSize=720|400|360|200|72|40" />
							<EMBED src="avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="720" HEIGHT="450" wmode="transparent" flashVars="imgUrl=./default.png&uploadUrl=./upfile.php&uploadSrc=false&pCut=720|400&pSize=720|400|360|200|72|40"
							NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
							PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
							</EMBED>
						</OBJECT> -->

						<a class="btn btn-sm btn-primary" id="uploadimg_btn">上传图片</a> 最大1024kb，支持jpg，gif，png，bmp格式。推荐大小：720x400
                		<ul id="ul_pics" class="ul_pics clearfix"></ul>
						
						<script type="text/javascript">

							$(function () {
							    var uploader = new plupload.Uploader({ //创建实例的构造方法 
							        runtimes: 'html5,flash,silverlight,html4', 
							        //上传插件初始化选用那种方式的优先级顺序 
							        browse_button: 'uploadimg_btn', 
							        // 上传按钮
							        url: "http://service.zhangshanglv.cn/Admin/UploadFile/upload", 
							        //远程上传地址 
							        flash_swf_url: 'plupload/Moxie.swf', 
							        //flash文件地址
							        silverlight_xap_url: 'plupload/Moxie.xap', 
							        //silverlight文件地址
							        filters: { 
							            max_file_size: '1mb', 
							            //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
							            mime_types: [ //允许文件上传类型 
							            {
							                title: "files", 
							                extensions: "jpg,png,gif,bmp" 
							            }]
							        },
							        multi_selection: false, 
							        //true:ctrl多文件上传, false 单文件上传
							        init: { 
							            FilesAdded: function(up, files) { //文件上传前 
							                if ($("#ul_pics").children("li").length > 30) { 
							                    alert("您上传的图片太多了！"); 
							                    uploader.destroy(); 
							                } else { 
							                    var li = ''; 
							                    plupload.each(files,function(file) { //遍历文件 
							                        li += "<li id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
							                    });
							                    $("#ul_pics").append(li);
							                    uploader.start();
							                }


							            },
							            FileUploaded: function(up, file, info) { //文件上传成功的时候触发 
							                var data = JSON.parse(info.response );
							                $("input[name='thumb']").val(data.file.savepath+data.file.savename);
							                $("#" + file.id).html("<div class='img'><img width='720' height='400' src='http://service.zhangshanglv.cn/Uploads/" + data.file.savepath  + data.file.savename + "'/></div>");

							                localStorage.currentImageUploadedURL="service.zhangshanglv.cn/Uploads/" + data.file.savepath  + data.file.savename;

							            },
							            UploadProgress: function(up, file) { //上传中，显示进度条 
							                $("#" + file.id).find('.bar').css({
							                    "width": file.percent + "%"
							                }).find(".percent").text(file.percent + "%");
							            },
							            Error: function(up, err) { //上传出错的时候触发 
							                alert(err.message);
							            }

							        }
							    });
							    uploader.init();
							});

						</script>

					</div>

					<div id="city_start_area" class="form-group">
						<label>出发城市</label>
						<select style="display:none" ng-model="area_start" class="form-control">
							<option value="{{x.id}}" ng-repeat="x in allRoutes.data">{{x.title}}</option>
						</select>

						<a id="btn_city_start_add" style="margin-bottom:15px" class="btn btn-sm btn-default">新增出发城市</a>

						<a class="btn btn-sm btn-primary" style="margin-bottom:15px" onclick="confirmCityStartList()">确定出发城市</a>

					</div>

					<script type="text/javascript">
						
						sessionStorage.currentCityStartCount=0;
						sessionStorage.cityStartList='';
						sessionStorage.cityEndList='';

						var areaObj=[];
						var realArea={};

						$(".city_start_area_form").citySelect({
							required:false,
							nodata:"none"
						});

						$('#btn_city_start_add').click(function(){

							sessionStorage.currentCityStartCount=Math.ceil(sessionStorage.currentCityStartCount)+1;

							realArea={};
							console.log('new city,realArea=');
							console.log(realArea);
							
							var cityStartId=sessionStorage.currentCityStartCount;
							var id='city_start_'+cityStartId;
							var html='';
							html+='<div id="'+id+'" class="city_area city_start_area_form">';
							html+='<select onchange="changeProvince(this,1,this.value,'+cityStartId+')" style="margin-bottom:10px" class="form-control prov"></select>';
							html+='<select onchange="changeCity(this,1,this.value,'+cityStartId+')" style="margin-bottom:10px" class="form-control city" disabled="disabled"></select>';							
							html+='<select onchange="changeDistrict(this,1,this.value,'+cityStartId+')" style="margin-bottom:10px" class="form-control dist" disabled="disabled"></select>';
							html+='<input style="margin-bottom:10px" type="number" onchange="changePrice(this,1,this.value,'+cityStartId+')" class="form-control" value="0" placehoder="请输入价格"><a onclick="removeThisCity(this,'+cityStartId+')" class="btn btn-sm btn-danger">删除此城市</a></div>';

							$('#city_start_area').append(html);

							$('#'+id).citySelect({
								required:false,
								nodata:"none"
							});

							areaObj[cityStartId].province='';
							areaObj[cityStartId].city='';
							areaObj[cityStartId].district='';
							areaObj[cityStartId].price='';

						});

						function changeProvince(obj,type,val,index){
							index-=1;
							realArea.province=val;
							console.log('change province,index='+index);
							areaObj[index]=realArea;
							console.log(areaObj);
						}

						function changeCity(obj,type,val,index){
							index-=1;
							realArea.city=val;
							console.log('change city,index='+index);
							areaObj[index]=realArea;
							console.log(areaObj);
						}

						function changeDistrict(obj,type,val,index){
							index-=1;
							realArea.district=val;
							console.log('change district,index='+index);
							areaObj[index]=realArea;
							console.log(areaObj);
						}

						function changePrice(obj,type,val,index){
							index-=1;
							realArea.price=val;
							console.log('change price,index='+index);
							areaObj[index]=realArea;
							console.log(areaObj);
							console.log('change over,realArea=');
							console.log(realArea);
						}

						function removeThisCity(obj,index){
							index-=1;
							console.log('remove city,index='+index);
							delete areaObj[index];
							realArea={};
							$(obj).parent().remove();
							sessionStorage.currentCityStartCount=Math.ceil(sessionStorage.currentCityStartCount)-1;
							alert('删除成功');
							console.log(areaObj);
						}

						function confirmCityStartList(){
							sessionStorage.cityStartList=JSON.stringify(areaObj);
							alert('确认成功');
						}

					</script>

					<div id="city_end_area" class="form-group">
						<label>目的地城市</label>
						<select style="display:none" ng-model="area_end" class="form-control">
							<option selected>{{end}}</option>
							<option value="{{x.id}}" ng-hide="x.title==end" ng-repeat="x in allRoutesEnd.data">{{x.title}}</option>
						</select>
						<a id="btn_city_end_add" style="margin-bottom:15px" class="btn btn-sm btn-default">新增目的地城市</a>
						<a class="btn btn-sm btn-primary" style="margin-bottom:15px" onclick="confirmCityEndList()">确定目的地城市</a>
					</div>

					<script type="text/javascript">

						sessionStorage.curerntCityEndCount=0;

						var endObj=[];
						var realEnd={};

						$('#btn_city_end_add').click(function(){

							sessionStorage.curerntCityEndCount=Math.ceil(sessionStorage.curerntCityEndCount)+1;

							var cityEndId=sessionStorage.curerntCityEndCount;

							var id="city_end_"+cityEndId;
							var html='';

							html+='<div style="border-bottom:1px solid rgb(204,204,204);padding-bottom:15px;margin-bottom:15px;"><select onchange="changeAreaEnd(this,this.value,'+cityEndId+')" class="form-control">';
							var option=$(this).prev().find('option');
							for (var i = 0; i < option.length; i++) {
								var currentOption=option[i];
								var value=$(currentOption).attr('value');
								console.log(value);
								console.log($(currentOption).html());
								if(isNaN(value)){
									continue;
								}
								html+='<option value="'+value+'">'+$(currentOption).html()+'</option>';
							}
							html+='</select>';
							html+='<a style="margin-top:15px" onclick="removeThisEndCity(this,'+cityEndId+')" class="btn btn-sm btn-danger">删除此目的地城市</a>';
							html+='</div>';

							$('#city_end_area').append(html);

						});

						function removeThisEndCity(obj,index){
							index-=1;
							delete endObj[index];
							$(obj).parent().remove();
							alert('删除成功');
							console.log(endObj);
						}

						function changeAreaEnd(obj,val,index){
							index-=1;
							console.log('change area end start');
							endObj[index]=val;
							console.log(endObj);
						}

						function confirmCityEndList(){							
							sessionStorage.cityEndList=JSON.stringify(endObj);
							alert('确认成功');
						}

					</script>

					<div class="form-group">
						<label>上架属性</label>:{{attr}}
						<select ng-model="attr" class="form-control">
							<option selected>{{attrname}}</option>
							<option value="{{x.id}}" ng-hide="x.title==attrname" ng-repeat="x in allAttrs.data">{{x.title}}</option>
						</select>
					</div>

					<div class="form-gourp">
						<label>是否上架</label>
						<input  type="radio" name="isapproved" ng-model="isapproved" value="1" /> 是
						<input type="radio" name="isapproved" ng-model="isapproved"  value="0" /> 否
					</div>

					<div class="form-group">
						<label>是否购买保险</label>
						<input type="radio" name="is_insure" ng-model="is_insure"  value="1" /> 是
						<input type="radio" name="is_insure" ng-model="is_insure"  value="0" /> 否
					</div>

					<div class="form-group">
						<label>旅游合同</label>:{{constract}}
						<select ng-model="constract" class="form-control">
							<option value="{{x.id}}" ng-repeat="x in allConstract.data">{{x.title}}</option>
						</select>
					</div>

					<div class="form-group">
						<label>剩余预定数量</label>
						<input class="form-control" type="number" ng-model="num_rest" placeholder="剩余预定数量">
					</div>

					<div class="form-group">
						<label>限购人数</label>
						<input class="form-control" type="number" ng-model="num_limit" placeholder="限购人数">
					</div>

					<div class="form-group">
						<label>排序</label>
						<input class="form-control" type="number" ng-model="order_index">
					</div>

					<div class="form-group">
						<label>分享送的积分</label>
						<input class="form-control" type="number" ng-model="share_score">
					</div>

					<div class="form-group">
						<label>特色介绍</label>
						<textarea ng-model="content" id="feature_introduction" class="form-control" row="5"></textarea>
					</div>

			        <h4>行程安排</h4>
			        
			        <div class="form-group">
			        	<label>行程安排</label>
			        	<select ng-model="plan_day" ng-change="generatorPlan()" class="form-control">
			        		<option ng-repeat="x in plan_day_datas">第{{x}}天</option>
			        	</select>
			        </div>

			        <div class="form-group">
			        	<label>行程标题</label>
			        	<input class="form-control" ng-change="changePlanTitle()" type="text" ng-model="plan_title" placrholder="行程标题">
			        </div>

			        <div class="form-group">
			        	<label>用餐</label>
			        	<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox1" value="breakfast" ng-change="changePlanBreakfast()" ng-model="plan_food_breakfast" name="food" ng-true-value="1" ng-false-value="0"> 早餐
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox2" value="lunch" ng-change="changePlanLunch()" name="food" ng-model="plan_food_lunch" ng-true-value="1" ng-false-value="0"> 午餐
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" id="inlineCheckbox3" value="dinner" ng-change="changePlanDinner()" name="food" ng-model="plan_food_dinner" ng-true-value="1" ng-false-value="0"> 晚餐
						</label>
			        </div>

			        <div class="form-group">
			        	<label>住宿</label>
			        	<input type="text" class="form-control" ng-change="changePlanRoom()" ng-model="plan_room" placeholder="住宿">
			        </div>

			        <div class="form-group">
			        	<label>内容</label>
			        	<textarea class="form-control" id="plan_content" row="5" ng-change="changePlanDesc()" ng-model="plan_description"></textarea>
			        </div>

			        <h4>其它内容</h4>

			        <div class="form-group">
			        	<label>补充协议</label>
						<textarea class="form-control" id="constract_plus" rows="5" ng-model="contract_add"></textarea>
			        </div>

			        <div class="form-group">
			        	<label>预定须知</label>
			        	<textarea class="form-control" id="notice_reserve" rows="5" ng-model="mustknow"></textarea>
			        </div>

			        <div class="form-group">
			        	<label>温馨提示</label>
			        	<textarea class="form-control" id="tips" rows="5" ng-model="tip"></textarea>
			        </div>

			        <div class="form-group">
			        	<label>费用包含</label>
			        	<textarea class="form-control" id="fee_included" rows="5" ng-model="fee_included"></textarea>
			        </div>

			        <div class="form-group">
			        	<label>费用不包含</label>
			        	<textarea class="form-control" id="fee_notincluded" rows="5" ng-model="fee_noincluded"></textarea>
			        </div>

			        <h4>成本价格</h4>
			        
			        <div class="form-group">
			        	<label>老人价</label>
			        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_basic">
			        </div>

			        <div class="form-group">
			        	<label>成人价格</label>
			        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_basic">
			        </div>

			        <div class="form-group">
			        	<label>儿童价</label>
			        	<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_basic">
			        </div>

					<h4>销售价格</h4>

					<div class="form-group">
						<label>老人价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_sell">
					</div>

					<div class="form-group">
						<label>成人价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_sell">
					</div>

					<div class="form-group">
						<label>儿童价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_sell">
					</div>

					<h4>市场价格</h4>

					<div class="form-group">
						<label>老人价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="old_market">
					</div>

					<div class="form-group">
						<label>成人价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="adult_market">
					</div>

					<div class="form-group">
						<label>儿童价</label>
						<input type="number" class="form-control" plcaeholder="请输入数字" ng-model="child_market">
					</div>

					<div class="form-group">
			        	<label>日期加价</label>
						<div class="btn-group" role="group" aria-label="...">
						  	<button type="button" id="btn_add_date" ng-click="add_new_time()" class="btn btn-default">新增时间</button>
						</div>
			        </div>

			        <script type="text/javascript">

			        	sessionStorage.tripDateList='';

			        	$('#btn_add_date').click(function(){
							var html='<div>';
							html+='<div style="margin-top:15px" class="col-md-12">';
							html+='<div class="form-group">';
							html+='<input type="date" class="form-control" placeholder="请选择时间,格式为XXXX-XX-XX,例如:2015-08-12">';
							// html+='<div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">';
							// html+='<input class="form_datetime form-control" onchange="updateRealDateCtrl(this)" size="16" type="text" placeholder="请选择时间">';
							// html+='<span class="add-on"><i class="icon-th"></i></span>';
							// html+='</div>';
							html+='</div>';
							html+='</div>';
							html+='<div class="col-md-12">';
							html+='<div class="form-group">';
							html+='<input type="number" class="form-control" placeholder="请输入价格">';
							html+='</div>';
							html+='</div>';
							html+='<div style="border-bottom:1px solid rgb(204,204,204);padding-bottom:15px;margin-bottom:15px;" class="col-md-12">';
							html+='<div class="form-group">';
							html+='<a class="btn btn-sm btn-primary" date="0" money="0" flag="0" onclick="confirmTripDate(this)">确认</a>';
							html+='<a onclick="deleteThisDate(this)" class="btn btn-sm btn-default btn_remove_date">删除此时间</a>';
							html+='</div>';
							html+='</div>';
							html+='</div>';
							$(this).parent().parent().append(html);
							// $(".form_datetime").datetimepicker({format:"yyyy-mm-dd",weekStart: 1,todayBtn:  1,autoclose: 1,todayHighlight: 1,startView: 2,forceParse: 0,showMeridian: 1,language:"zh-CN"}).on('show',function(ev){
							// 		console.log('datetimepicker show');	
							// });
						});

						function updateRealDateCtrl(obj){
							$(obj).parent().prev().val($(obj).val());
						}

			        	function deleteThisDate(obj){
							$(obj).parent().parent().parent().remove();

							var date=$(obj).prev().attr('date');
							var money=$(obj).prev().attr('money');

							if(sessionStorage.tripDateList!=''){
								if($(obj).prev().attr('flag')==='1'){
									var tripJSON=JSON.parse(sessionStorage.tripDateList);
									delete tripJSON[date];
									sessionStorage.tripDateList=JSON.stringify(tripJSON);
									console.log('after delete one');
									console.log(sessionStorage.tripDateList);
									alert('删除成功');
								}
							}
						}

						function confirmTripDate(obj){
							var date=$(obj).parent().parent().prev().prev().find('input').val();
							var money=$(obj).parent().parent().prev().find('input').val();

							var attrDate=$(obj).attr('date');
							var attrMoney=$(obj).attr('money');

							if(date=='' || money==''){
								alert('请选择日期或填写价格');
								return false;
							}

							if(sessionStorage.tripDateList!=''){

								var tmpJSON=JSON.parse(sessionStorage.tripDateList);

								if((date!=attrDate || date!=attrMoney) && (attrDate!='0' || attrMoney!='0')){
									edieThisDate(obj,tmpJSON,attrDate,attrMoney,date,money);
									return false;
								}

								tmpJSON[date]=money;
								sessionStorage.tripDateList=JSON.stringify(tmpJSON);
								console.log('after append one');
								console.log(sessionStorage.tripDateList);
							}else{
								var tmpJSON={};
								tmpJSON[date]=money;
								sessionStorage.tripDateList=JSON.stringify(tmpJSON);
								console.log('after insert one:');
								console.log(sessionStorage.tripDateList);
							}

							$(obj).attr('flag','1');
							$(obj).attr('date',date);
							$(obj).attr('money',money);
							alert('确认成功');
						}

						function edieThisDate(obj,tmpJSON,key,value,new_key,new_value){
							delete tmpJSON[key];
							tmpJSON[new_key]=new_value;
							sessionStorage.tripDateList=JSON.stringify(tmpJSON);
							console.log('after edit:'+sessionStorage.tripDateList);
							alert('编辑成功');
						}
			        
			        </script>

            </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">关闭</button>
	        <button type="button" ng-click="addProduct()" class="btn btn-outline btn-primary">提交</button>
	      </div>
	    </div>
	  </div>
	</div>