body{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

*{
	transition:all 1s ease 0s;
}

ul li a{
	text-decoration: none;
	color: rgb(255,255,255);
}

header{
	padding-top: 30px;
	background: rgb(40,162,222);
	color: rgb(255,255,255);
	opacity: 0.6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 65535;
}

#brand{
	width: 100px;
	cursor: pointer;
	margin-left: 20px;
}

#brand img{
	width: 20px;
	height: 20px;
}

.menu{
	display: table;
}

.menu ul{
	width: 100%;
	display: table-row;
}

.menu ul li{
	display: table-cell;
	cursor: pointer;
	text-align: center;
	padding:18px;
	padding-bottom: 19px;
}

.menu ul li:hover{
	background: rgb(0,102,178);
	color: rgb(170,170,170);
	transform: scale(1);
}

.menu-right{
	float: right;
	margin-top: -54px;
}

section{
	width: 100%;
}

.introduction-second{
	background: rgb(255,255,255);
	border-top: 1px solid rgb(241,241,241);
	border-bottom: 1px solid rgb(241,241,241);
	padding-top: 100px;
	padding-bottom: 100px;
	margin-left: 7.5%;
	width: 80%;
	margin: 0 auto;
}

.cg{
	margin-top: -52px;
	padding-top: 700px;
	background-image: url('../images/home.jpg');
	background-position: center center;
}

.cg-second{
	width: 40%;
}

.blur{	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(15px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.illustration{
	width: 100%;
	text-align: center;
	font-size: 4em;
	position: absolute;
	top: 40%;
	color: rgb(52,52,52);
}

.illustration span{
	display: block;
}

.illustration span:last-child{
	font-size: .74em;
}
