body{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

*{
	transition:all 1s ease 0s;
}

p{
	letter-spacing: 2px;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 1.6em;
}

span:hover{
	color:rgb(130,130,130);
	transition:all 1s ease 0s;
}

a{
	text-decoration: none;
}

ul li a{
	text-decoration: none;
	color: rgb(255,255,255);
}

.the_btn{
	z-index: 2;
	cursor: pointer;
	background-color: #DF4931;
	border: 1px solid #DF4931;
	border-radius: 4px;
	text-align: center;
	color: #FFF;
	font-size: .875em;
	line-height: 20px;
	padding: 4px 12px;
	font-family: "Montserrat",Arial,sans-serif;
	display: inline-block;
	transition: background-color 0.4s linear 0s, color 0.4s linear 0s;
}

.the_btn:hover{
	
}

.the_btn.btn-large {
    border-radius: 6px;
    font-size: 1.09375em;
    padding: 11px 19px;
}

.the_btn.dark {
    background-color: #33353E;
    border-color: #33353E;
}

.the_btn:hover{
	background: rgba(255,255,255,0.1);
	border-color: rgb(255,255,255);

}

header{
	padding-top: 30px;
	background: rgba(0, 0, 0, 0.7);
	color: rgb(255,255,255);
	opacity: 0.6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 65535;
}

#brand{
	width: 100px;
	cursor: pointer;
	margin-left: 20px;
	position: absolute;
	top: 16px;
	font-size: 1.5em;
	letter-spacing: 3px;
}

#brand strong{
	font-weight: 800;
}

#brand img{
	width: 20px;
	height: 20px;
}

.menu{
	display: table;
	padding-top: 22px;
}

.menu ul{
	width: 100%;
	display: table-row;
}

.menu ul li{
	display: table-cell;
	cursor: pointer;
	text-align: center;
	padding:25px;
	padding-bottom: 24px;
}

.menu-active{
	background: rgb(0,102,178);
	color: rgb(170,170,170);
}

.menu ul li:hover{
	background: rgb(0,102,178);
	color: rgb(170,170,170);
}

.menu-right{
	float: right;
	margin-top: -54px;
}

section{
	width: 100%;
}

.page{
	width: 100%;
	background-image: -webkit-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: -o-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: linear-gradient(#F4F4F4 0px, #FFF 500px);
}

.introduction-second{
	background: rgb(255,255,255);
	border-top: 1px solid rgb(241,241,241);
	border-bottom: 1px solid rgb(241,241,241);
	padding-bottom: 100px;
	margin-left: 7.5%;
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	background-image: -webkit-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: -o-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: linear-gradient(#F4F4F4 0px, #FFF 500px);

}

.introduction-slogan{
	padding-top: 80px!important;
	padding-bottom: 80px!important;
	height: auto;
	background:url("../images/slogan.jpg") repeat fixed center center / cover transparent!important;
}

.introfuction-cg{
	width: 100%;
	text-align: center;
	color: rgb(241,241,241);
	background:url("../images/cg-post.jpg") repeat fixed center center / cover transparent;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cg{
	opacity: 0.6;
	margin-top: -52px;
	padding-top: 550px;
	background:url("../images/index2.jpg") repeat fixed center center / cover transparent;
}

.cg-second{
	width: 40%;
}

.blur{	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(15px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.illustration{
	width: 100%;
	text-align: center;
	font-size: 4em;
	position: absolute;
	top: 40%;
	color: rgb(241,241,241);
}

.illustration span{
	display: block;
	letter-spacing: 3px;
}

.illustration span:last-child{
	font-size: .74em;
}

.features{
	color: rgb(30,30,30);
}

#features_gallery{
	opacity: 0.6;
}

.introduction-font-big{
	font-size: 1.625em;
	opacity: 1;
}

.intro-small{
	font-size: 1em;
	color: rgb(120,120,120);
}

.intro-cg-small{
	color: rgb(255,255,255);
	opacity: 0;
}

.intro-small p:hover{
	color:rgb(30,30,30);
	transition:all 1s ease 0s;
}

.team-wrap{
	background: none repeat scroll 0% 0% rgba(0,102,178, 0.7);
	width: 100%;
	display: block;
	overflow: hidden;
	padding-top: 20px;
}

#separator{
	position: relative;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
	background: none repeat scroll 0% 0% rgb(220,220,220);
}

.film-reel{
	position: absolute;
	transform: rotate(-26deg);
	top: 0px;
	left: 0px;
	z-index: 1;
	display: block;
	width: 100%;
	height: 244px;
	background-image: url("../images/film-reel.png");
}

.event-form{
	background: none repeat scroll 0% 0% rgb(220,220,220);
	border: none;
	height: 100%;
	opacity: 0;
}

.span3{
	float: left;
	margin-left: 2.12766%;
	width: 20.4043%;
	min-height: 30px;
	background: #3BD072;
	color: #FFF;
	padding: 15px 10px 60px;
}

.span3 h5{
	font-size: 14px;
}

.span3 .the_btn:hover{
	background: rgba(255,255,255,0.1);
	border-color: rgb(255,255,255);
}

.pixiv-form{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font: inherit;
	vertical-align: baseline;
	opacity: 0;
}

#top_pixiv_img{
	z-index: 8;
	position: absolute;
}

.box{
	float: left;
	position: relative;
	width: 25%;
	height: 456px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}

.cg_top{
	width: 100%;
}

.box h4 {
    position: absolute;
    color: #FFF;
    font-weight: 100;
    left: 20px;
    top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    z-index: 2;
    opacity: 0;
    transition: all 600ms linear 0s;
}

.box img {
    display: block;
    width: 100%;
    height: 100%;
}

.box .box_img_div{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.box p {
    position: absolute;
    top: 88px;
    left: 20px;
    color: #FFF;
    z-index: 2;
    opacity: 0;
    transition: all 600ms linear 0s;
}

.box a .mask {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 600ms linear 0s;
}

.motion-graphics{
	height: 228px;
}

#copy{
    position: relative;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(220,220,220);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#copy a{
	color: rgb(30,30,30);
}

#copy a:hover{
	color: rgb(120,120,120);
}

.container {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    color: rgb(30,30,30);
}

.ask-ready-form{
	width: 100%;
	background: #41C9A5;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: rgb(255,255,255);
	opacity: 0;
}

.product-info{
	margin-top: -20px;
	height: 900px;
	width: 100%;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: -o-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: linear-gradient(#F4F4F4 0px, #FFF 500px);
	opacity: 0;
}

.heading-product{
	width: 72.6464647%;
	height: 12.22222222%;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
	color: #333333;
	font-size: 24px;
}

.product-subheading{
	color: #999999;
}

.product-detail{
	font-size: 18px;
}

.product-detail a{
	color: #08c;
}

.product-detail a:hover{
	text-decoration: underline;
}

.design-hero-img{
	margin-top: 12%;
	margin-left: 22.721275%;
}

.design-hero-img img{
	width: 72.6464647%;
	height: 500px;
}

.design-hero-img-big{
	margin-left: -320px;
	margin-top: 242px;
}

.design-hero-img-big img{
	height: 458px;
	width: 86.3990413%;
}

@media screen and (max-width: 1200px){
	.design-hero-img{
		margin-top: 20%;
	}
}

@media screen and (max-width: 1000px){
	.design-hero-img{
		margin-top: 30%;
	}
}

@media screen and (max-width: 900px){
	.design-hero-img{
		margin-top: 40%;
	}
}

@media screen and (max-width: 700px){
	.design-hero-img-big img{
		height: 400px;
		margin-top: 58px;
	}
}

@media screen and (max-width: 600px){
	.design-hero-img{
		margin-top: 70%;
	}
}

@media screen and (max-width: 400px){
	.design-hero-img{
		margin-top: 100%;
	}
}

@media screen and (max-width: 300px){
	.design-hero-img{
		margin: 100%;
	}
}

@media screen and (max-width: 500px) {
	.gallery-content .page-service img{
		height: 84px;
		width: 84px;
	}

	.page-heading-outline{font-size: 18px;}

	.page-heading-detail p{font-size: 12px;}

	.heading-product{font-size: 18px;}
	
	.product-detail{
		font-size: 16px;
	}
}

.box_mar{
	float: none;
	position: absolute;
	margin: 0px;
	overflow: hidden;
}

.big_box{
	width: 262px;
	height: 262px;
}

.d_body{
	color: rgb(30,30,30);
	width: 100%; 
	background: rgb(230,230,230);
}

.cg_display{
	width: 70.074074%;
}

.cg_title{
	padding: 10px;
	width: 99%;
	display: table;
}

.cg_title ul{
	display: table-row;
}

.cg_title ul li{
	display: table-cell;
	width: 50%;
	text-align: right;
}

.cg_title ul li a{
	color: rgb(0,161,214);
}

.cg_title ul li a:hover{
	text-decoration: underline;
}

.cg_top10{
	position: absolute;
	right: 20px;
	width: 26%;
}

.dy_display{
	display: table;
	width: 100%;
}

.dy_display ul{
	display: table-row;
	width: 100%;
}

.dy_display ul li{
	display: table-cell;
}

.dy_display ul li:first-child{
	width: 40%;
}

.floating_box{
	padding: 10px;
	position: absolute;
	left: 0;
	width: 38.7%;
	background: rgb(245,245,245);
	z-index: 10;
}

.dy_content{
	background: rgb(245,245,245);
}

.dy_title{

}

.dy_date{
	margin-top: -44px;
	color: rgb(130,130,130);
	margin-bottom: 14px;
	text-align: right;
}

.dy_display ul li .dy_content .dy-tags{
	background: rgb(220,220,220);
}

.dy_tags ul{
	background: rgb(235,235,235);
	width: 100%;
}

.dy_tags ul li{
	padding:14px;
	width: auto!important;
}

.normal_a{
	color: rgb(0,161,214);
}

.normal_a:hover{
	text-decoration: underline;
}

.dy_img{
	margin-top: 10px;
	width: 100%;
	height: 800px;
}

.dy_img_info{
	padding:6px;
}

.dy_img-padding{
	padding-left: 10px;
}

.profile_photo{
	width: 37.037037%;
	border-radius: 8px;
	margin: 0 auto;
}

.profile_username{
	width: 100%;
	text-align: center;
	font-size: 1.25em;
	margin-top: 20px;
}

.dy_description{
	margin-top: 20px;
	padding: 20px;
	border-top: 1px solid rgb(4,251,251);
	border-bottom: 1px solid rgb(4,251,251);
	font-size: 1.35em;
	text-align: center;
}

#newest_cg,.cg_top10{
	opacity: 0;
}

.about_form{
	padding: 15px;
}

.about_tooltip{
	padding: 6px;
	background: rgb(240,240,240);
	text-align: center;
}

.cont_box{
	position: relative;
	float: left;
	width: 20%;
	background-color: #FFF;
	overflow: hidden;
	opacity: 0;
}

.cont_box_color{
	text-align: center;
}

.link_home {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.title_home {
    font-family: "montserratregular";
    font-size: 28px;
    color: #2A3644;
    margin: 25% 10% 2%;
    text-align: left;
}

.descr_home {
    font-family: "montserratregular";
    font-size: 13px;
    color: #A7A3A1;
    margin-left: 10%;
    margin-right: 6%;
    line-height: 2;
}

.img_home {
    margin-top: 8%;
    margin-bottom: 1%;
}

.descr_home2 {
    font-family: "proxima_novaregular";
    font-size: 13px;
    color: #FFF;
    line-height: 1.5;
    text-align: center;
}

.descr_home2 span {
    font-family: "montserratbold";
    font-size: 22px;
    color: #FFF;
}

.red_box{
	background-color: #F17B73!important;
}

.green_box{
	background-color: #77BCAF!important;
}

.dark_blue_box{
	background-color:#445E9F!important;
}

.dark_dark_blue_box{
	background-color: #31647F!important;
}

.light_blue_box{
	background-color: #55B1E1!important;
}

#photogallery_s {
    background-image: url("../images/about2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
