<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div class="drag-container" layout="row" layout-sm="column" layout-margin dragula='"drag-analytics-container"'>
        <tri-widget  ng-click="toNewOldPage()" palette-background="deep-orange:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-comments"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="today_old" decimals="0" id="today_old"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>今日新增老人数</p>
            </div>
        </tri-widget>
        <tri-widget ng-click="toOldPage()" palette-background="cyan:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-twitter"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="old_mount" decimals="0" id="old_mount"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>总老人数</p>
            </div>
        </tri-widget>
        <tri-widget ng-click="toNewOrgPage()" palette-background="indigo:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-facebook"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="toady_org_mount" decimals="0" id="org_mount"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>今日新增机构数</p>
            </div>
        </tri-widget>
        <tri-widget ng-click="toOrgPage()" palette-background="teal:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-eye"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="org_mount" decimals="0" id="toady_org_mount"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>总机构数</p>
            </div>
        </tri-widget>
    </div>
    <div class="mirror-container"></div>
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget chartjs-line-widget title="DASHBOARDS.ANALYTICS.PAGEVIEWS" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <canvas class="chart-line" chart-data="oldMonthLineChart.data" chart-labels="oldMonthLineChart.labels" chart-legend="true" chart-series="oldMonthLineChart.series" chart-options="oldMonthLineChart.options"></canvas>
        </tri-widget>
    </div>
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget id="deviceOnlineChart" chartjs-pie-widget title="老人机使用情况统计" subtitle="在线统计" content-padding>
            <canvas class="chart-doughnut" chart-data="devicePieChart.data" chart-legend="true" chart-labels="devicePieChart.labels"></canvas>
        </tri-widget>
    </div>
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget chartjs-pie-widget title="消息受理统计" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <canvas class="chart-doughnut" chart-data="helpPieChart.data" chart-legend="true" chart-labels="helpPieChart.labels"></canvas>
        </tri-widget>
        <tri-widget chartjs-pie-widget title="在线用户统计" subtitle="DASHBOARDS.ANALYTICS.DATE" content-padding>
            <canvas class="chart-doughnut" chart-data="onlinePieChart.data" chart-legend="true" chart-labels="onlinePieChart.labels"></canvas>
        </tri-widget>
    </div>
</div>

    <div class="modal fade" id="deviceOnlineViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">查看在线老人机详情</h4>
          </div>
          <div class="modal-body" style="font-size: 1.3em;padding:0px">
            <div layout="column" flex>
                <tri-widget flex load-data-widget="{ social: 'app/examples/dashboards/data/location.json' }" title="" subtitle="" content-padding>
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="header in ::deviceOnline.header | limitTo:3">{{::header}}</th>
                            </tr>
                        </thead>
                        <tbody class="md-caption">
                            <tr ng-repeat="socialData in ::social.data | limitTo:5">
                                <td ng-repeat="data in ::socialData | limitTo:3">{{::data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tri-widget>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

    window.onDashBorardFresh = false;
    
    window.onload = function() {
        $('#today_old').html(localStorage.today_old);
        $('#old_mount').html(localStorage.old_mount);
        $('#org_mount').html(localStorage.org_mount);
        $('#toady_org_mount').html(localStorage.toady_org_mount);
    }

    $('#deviceOnlineChart').click(function() {
        $('#deviceOnlineViewer').modal('show');
        $('.modal-backdrop').css('z-index','0');
    });

    $('#deviceOnlineChart').on('hidden.bs.modal', function (e) {
        $('.modal-backdrop').css('z-index','1040');
    });

</script>
    
