*{
	transition:all 0.5s ease 0s;	
}

body,html{
	font-family: '微软雅黑','Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

body {
	padding-top: 110px;
    background: #EEE none repeat scroll 0% 0%!important;
}

nav{
	opacity: 0.9!important;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	width: 100%;
	/*height: 78px;*/
	background-color: #FFF!important;
}

.container-fluid {
	height: 100%!important;
}

.navbar-nav > li:hover{
	background: rgb(255,94,82);
	color: rgb(255,255,255)!important;
}

.navbar-default .navbar-nav > li > a:hover{
	color: rgb(255,255,255)!important;
}

.navbar-default .navbar-nav > li > a{
	display: block!important;
    padding: 0px 15px!important;
    font-size: 18px!important;
    color: #444!important;
    height: 78px!important;
    line-height: 78px!important;
    text-align: center!important;
    font-weight: 800;
}

.navbar-nav > li.active{
	background: rgb(255,94,82)!important;
}

.navbar-default .navbar-nav > .active > a{
	color: rgb(255,255,255)!important;
	background: rgb(255,94,82)!important;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.panel{
	box-shadow: none;
	border-radius: 0px;
	border-color: rgb(255,255,255);
}

.badge{
    color: #FFF;
    padding: 5px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(255,94,82);
    border-radius: 8px;
}

a:hover{
	text-decoration: none!important;
	color: rgb(255,94,82)!important;
}

.badge a:hover{
	text-decoration: none!important;
	color: rgb(255,94,82);
}

.cata-list{
	/*margin-top: 10px;*/
}

.cata-list .col-md-2{
	padding-top:20px;
}

.cata-3rd-list{
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDD;
}

.cata-3rd-list a{
	margin-right: 40px;
	color: rgb(0,0,0);
	line-height: 1;
}

.cata-3rd-list a:hover{
	color: rgb(255,94,82);
}

table thead{
	background: #F3F3F3 none repeat scroll 0% 0%;
}

.table-responsive{
	border: none;
}

table thead tr th{
	border-top: 1px solid #F3F3F3!important;
	text-align: center;
}

.table > thead > tr > th{
	border-bottom: none;
}

.media-body {
    width: auto;
    text-align: left;
}

.table > tbody > tr > td{
	text-align: center;
}

footer{
	background: rgb(68,68,68)!important;
	color: rgb(238,238,238);
}

.footer-main{
	padding-top: 15px;
	padding-bottom: 15px;
}

.float-comp {
    position: fixed;
    bottom: 40px;
    right: 0px;
    z-index: 1000;
}

a:active{
	text-decoration: none;
}

.float-comp .ele-model a {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #DDDFE1;
    text-align: center;
    line-height: 48px;
    font-size: 28px;
    margin-top: -1px;
    color: #9A9A9A;
    background-color: #FDFDFD;
}

.comments{
	margin-top: 40px;
}

.comments span{
	cursor: pointer;
	font-size: 1.2em;
}

.comments span:hover{
	color: rgb(243,243,243)!important;
}

#comments_publish span{
	color: rgb(243,243,243)!important;
}

#comments_publish span:hover{
	color: rgb(255,94,82)!important;
}

.comments_active{
	color: rgb(255,94,82)!important;
}

/*.container-fluid > .navbar-header{
	height: 100%!important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-nav {
}

.navbar-nav > li {
    height: 100%!important;
}*/

p{
	word-break: break-all;
	word-wrap: break-word;
}

textarea{
	border: 1px solid rgb(214,233,198)!important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

table thead{
    background: rgb(255,94,82)!important;
    color: rgb(255,255,255)!important;

}

.table > thead:first-child > tr:first-child > th{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

.table-responsive{
	margin-top: -3px!important;
	margin-left: -1px!important;
	width: 100.2%!important;
}

.pagination > .active > a{
	background: rgb(255,94,82)!important;
	border: 1px solid rgb(255,145,137)!important;
}

.pagination > li > a{
	border: 1px solid rgb(218,224,226)!important;
	/*color: rgb(210,210,210)!important;*/
}

.inline-list > li >a:hover{
	color: rgb(255,94,82)!important;
}

.pagination > li > a:focus{
	background: rgb(255,145,137)!important;
	color: rgb(255,255,255)!important;
}

.pagination > li > a:hover{
	background: rgb(255,145,137)!important;
	color: rgb(255,255,255)!important;
	border: 1px solid rgb(255,145,137)!important;
}

.deanrlt {
    padding: 3px 0px;
    cursor: pointer;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    outline: 0px none;
}

.deanrlt i {
    background: transparent url("circult.png") no-repeat scroll 50% 50%;
    width: 20px;
    height: 20px;
    margin: 9px 10px 9px 4px;
    display: inline-block;
    color: #FF5E52;
    text-align: center;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
}

.deanrltt i {
    background: transparent url("circult1.png") no-repeat scroll 50% 50%;
    color: #B4B4B4;
}

.textarea-field img{
	width: 200px;
	height: 200px;
}

.textarea-field img:hover{
	cursor: pointer;
}

.img-preview{
	position: fixed;
	text-align: center;
	top: 44px;
	z-index: 2000;
	display: none;
	width: 80.5%;
}
