<div layout="column" layout-align="center center" class="full-image-background mb-bg-fb-02 overlay-gradient-40 text-light">
    <h1 class="font-weight-100 font-size-8 margin-top-40">triangular <span class="md-subhead">v{{vm.version}}</span></h1>
    <h2 class="font-weight-400 margin-bottom-40">a <em>real</em> material design admin template</h2>
    <p flex="60" flex-sm="100" class="md-headline font-weight-300 text-center">Welcome to triangular, a material design admin template built from the ground up using AngularJS & Angular Material</p>
</div>

<div layout="row" class="intro-feature-row" layout-wrap layout-margin ng-repeat="features in ::vm.featureRows">
    <div layout="column" flex flex-sm="100" layout-align="center center" class="md-whiteframe-z1" ng-repeat="feature in features">
        <md-icon class="font-size-5 padding-10" md-font-icon="{{feature.icon}}"></md-icon>
        <h3 class="font-weight-400 margin-top-0">{{feature.name}}</h3>
    </div>
</div>
