<md-card style="padding:0;margin:0">
    <md-card-content>
        <div class="content-padded">
            <h2 class="md-title">家庭成员管理</h2>
        </div>
        <md-divider></md-divider>
        <div class="button-toolbar" layout="row" layout-align="start center">
            <!-- <md-button ng-click="addNew()" class="md-raised md-primary">新增</md-button> -->
            <md-button ng-click="backToOldManList()" class="md-raised md-primary">返回</md-button>
        </div>
    </md-card-content>
</md-card>

<div ng-controller="TablesAdvancedController as vm">
    <md-data-table-toolbar ng-hide="vm.selected.length || vm.filter.show">
        <h2 class="md-title">家庭成员列表</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
            <!-- <i class="material-icons md-dark">filter_list</i> -->
            <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length  || 1" class="md-data-table-toolbar">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <form flex="" name="vm.filter.form">
            <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
        </form>
        <md-button class="md-icon-button" ng-click="vm.removeFilter()">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length" layout-align="space-between">
      <div>选择了 {{vm.selected.length}} 个用户</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table" md-row-select="" md-progress="vm.deferred">
            <thead md-order="vm.query.order" md-trigger="vm.getUsers">
                <tr>
                    <th name="编号"></th>
                    <th name="老人姓名"></th>
                    <th name="亲属姓名"></th>
                    <th name="手机号"></th>
                    <th name="身份证号"></th>
                    <th name="关系"></th>
                    <th name="操作"></th>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select ng-repeat="user in memberList">
                    <td>{{user.relation_id}}</td>
                    <td>{{user.realname}}</td>
                    <td>{{user.relation_realname}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.relation_idcard}}</td>
                    <td>{{user.relation}}</td>
                    <td>
                        <md-button ng-click="editThisMember(user.user_relation_id,user.relation_id)" class="md-primary">编辑</md-button>
                        <md-button ng-click="deleteThisMember(user.user_relation_id)" class="md-warn">删除</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-trigger=""></md-data-table-pagination>
</div>

    <!-- Modal -->
    <div class="modal fade" id="edit-family-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">编辑家庭成员</h4>
          </div>
          <div class="modal-body" style="font-size: 1.3em;">
            <div layout="column" flex>
                <md-input-container>
                    <label translate>亲属姓名</label>
                    <input ng-model="editMemberList.realname" type="text">
                </md-input-container>
                <md-input-container>
                    <label translate>身份证号</label>
                    <input ng-model="editMemberList.idcard" type="text">
                </md-input-container>
                <md-input-container>
                    <label translate>关系</label>
                    <input ng-model="editMemberList.relation" type="text">
                </md-input-container>
                <md-input-container>
                    <label translate>手机号</label>
                    <input ng-model="editMemberList.mobile" type="text">
                </md-input-container>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-default" ng-click="saveEditMember()">保存</button>
          </div>
        </div>
      </div>
    </div>
