.nav-own{
	border-radius: 0px;
	background: rgb(0,0,0);
	opacity: 0.8;
	font-size: 18px;
}

.nav .navbar-nav li{
	color: rgb(255,255,255);
}

.menu-own{color: rgb(255,255,255);}

.carousel{
	margin-top: -72px;
	background: url(bg.jpg) no-repeat;
	background-size:100% 650px;
	z-index: -1;
	height: 650px;
	position: relative;
}


.main-title{
	margin-top: 18.30161%;
	text-align: center;
	color: rgb(255,255,255);
	letter-spacing: 5px;
}

.main-title h1{
	font-size: 4em;
}