html,body{
	width: 100%;
	height: 100%;
}
.nav-own{
	border-radius: 0px;
	background: rgb(0,0,0);
	opacity: 0.8;
	font-size: 18px;
}

.nav .navbar-nav li{
	color: rgb(255,255,255);
}

.menu-own{color: rgb(255,255,255);}

.page_item{
	color: rgb(255,255,255);
}

.carousel{
	margin-top: -72px;
	background: url(bg.jpg) no-repeat;
	background-size:100% 650px;
	z-index: -1;
	height: 650px;
	position: relative;
}


.main-title{
	margin-top: 18.30161%;
	text-align: center;
	color: rgb(255,255,255);
	letter-spacing: 5px;
}

.main-title h1{
	font-size: 4em;
}

.main-title a{
	text-decoration: none;
	color: rgb(255,255,255);
}

.news-display{
	margin-top: 5px;
}

.news-block{
	background: rgb(242,242,242);
	height: 200px;
	border-right: 2.5px solid rgb(255,255,255);
	border-left: 2.5px solid rgb(255,255,255);
	margin-bottom: 5px;
	cursor: pointer;
	padding-top: 16px;
}

.news-block-title{
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

.news-block-img{
	margin-top: 10px;
	height: 124px;
	text-align: center;
}

.news-block-img img{
	height: 124px;
	width: 260px;
}

footer{
	margin-top: 10px;
}

.footer-menu{
	font-size: 12px;
}

.footer-menu a{
	color: rgb(119,119,119);
}

.footer-menu li{
	float: left;
	margin-right: 5px;
}

/*服务页面导航条*/

.service-menu{
	margin-top: -26px;
	margin-left: 12px;
	border-bottom: 1px solid rgb(102,102,102);
	padding-bottom: 8px;
	font-weight: 400;

}

.sm-left{
	font-size: 28px;
	color: rgb(51,51,51);
	font-weight: 400;
}

.sm-left a{
	text-decoration: none;
	color: rgb(51,51,51);
}

.sm-right{
	float: right;
	margin-top: -20px;
	color: rgb(51,51,51);
	font-size: 14px;
}

.sm-right ul{
	list-style: none;
}

.sm-right ul li{
	float: left;
	margin-right: 30px;
}