html,body{
	width: 100%;
	height: 100%;
}

h2{
	letter-spacing: 1px;
	line-height: 1.1;
}

.nav-own{
	border-radius: 0px;
	background: rgb(0,0,0);
	opacity: 0.8;
	font-size: 18px;
}

.nav .navbar-nav li{
	color: rgb(255,255,255);
}

.menu-own{color: rgb(255,255,255);}

.page_item{
	color: rgb(255,255,255);
}

.carousel,.carousel-service{
	margin-top: -72px;
	background: url(bg.jpg) no-repeat;
	background-size:100% 650px;
	z-index: -1;
	height: 654px;
	position: relative;
}

.carousel-service{
	height: auto;
	padding-bottom: 100px;
	background: url(service_bg.jpg) no-repeat;
}

/*.service-background-img{
	margin-left: -800px;
}*/


.main-title{
	margin-top: 18.30161%;
	text-align: center;
	color: rgb(255,255,255);
	letter-spacing: 5px;
}

.main-title h1{
	font-size: 4em;
}

.main-title a{
	text-decoration: none;
	color: rgb(255,255,255);
}

.news-display{
	margin-top: 5px;
}

.news-block{
	background: rgb(242,242,242);
	height: 200px;
	border-right: 2.5px solid rgb(255,255,255);
	border-left: 2.5px solid rgb(255,255,255);
	margin-bottom: 5px;
	cursor: pointer;
	padding-top: 16px;
}

.news-block-title{
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

.news-block-img{
	margin-top: 10px;
	height: 124px;
	text-align: center;
}

.news-block-img img{
	height: 124px;
	width: 260px;
}

footer{
	margin-top: 10px;
}

.footer-menu{
	font-size: 12px;
}

.footer-menu a{
	color: rgb(119,119,119);
}

.footer-menu li{
	float: left;
	margin-right: 5px;
}

/*服务页面导航条*/

.service-menu{
	margin-top: -10px;
	
	border-bottom: 1px solid rgb(102,102,102);
	padding-bottom: 8px;
	font-weight: 400;
	overflow-x: auto;
}

.sm-left{
	font-size: 28px;
	color: rgb(51,51,51);
	font-weight: 400;
}

.sm-left a{
	text-decoration: none;
	color: rgb(51,51,51);
}

.sm-right{
	float: right;
	margin-top: -20px;
	color: rgb(51,51,51);
	font-size: 12px;
}

.sm-right ul{
	list-style: none;
}

.sm-right ul li{
	float: left;
	margin-right: 30px;
}

.sm-right ul li a{
	text-decoration: none;
	color: rgb(51,51,51);
}

.sm-right ul li a:hover{
	color: rgb(0,136,204);
}

.sm-right ul .sm-right-li-last{
	margin-right: 0px;
}

/*服务页面底部*/
.section-content{
	width: 100%;
	height: 900px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: -o-linear-gradient(#F4F4F4 0px, #FFF 500px);
	background-image: linear-gradient(#F4F4F4 0px, #FFF 500px);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.subheadline{
	display: block;
	color: rgb(153,153,153);
	font-size: 122.2222%;
}

.section-content h2{
	margin: 0 auto;
	line-height: 1.6;
	font-size: 200%;
}

.section-content p{
	font-size: 16px;
}

.more{
	display: block;
}

.design-hero-img{
	background-size: 83.74231% 83.11111111111%;
	height: 83.11111111111%;
	width: 83.74231%;
	margin-left: 0px;
	background-image: url("service_img1.png");
	background-repeat: no-repeat;
	margin-left: 15.3733528%;
	margin-top: 18.62356%;
	margin-bottom: 50px;
}

.continuity-image{
	background-repeat: no-repeat;
	background-size: 1300px 458px;
	height: 458px;
	width: 1300px;
	background-image: url("service_img2.png");
	float: right;
	display: block;
	margin-top: 46px;
}

.section-footer{
	background: rgb(242,242,242);
	height: 300px;
	margin-top: -100px;
}

/*案例页面CSS*/
.case-second-menu{
	height: 32px;
	margin-top: -30px;
	color: rgb(87,84,84);
	font-size: 32px;
	font-weight: 100;
}

.case-second-menu-border{
	border-bottom: 1px solid rgb(229,229,229);
}

.case-title{
	float: left;
	margin-top: -18px;
}

.case-title a{
	color: rgb(84,84,84);
	text-decoration: none;
}

.explore-btn{
	font-size: 16px;
	cursor: pointer;
	margin-top: 30px;
}

.explore-search{
	text-decoration: none;
	color: rgb(84,84,84);
	font-size: 14px;
	margin-right: 10px;
}

.explore-search:hover{
	color: rgb(0,0,0);
}

.explore-menu span:hover{
	color: rgb(0,0,0);
}

.case-search-form{
	display: none;
	height: 240px;
	border-bottom: 1px solid rgb(229,229,229);
}