<footer class="docs-footer" role="contentinfo">
    <div class="container">
        <ul class="bs-masthead-links pull-left">
            <li class="current-version">
                Currently v{{version.number}}
            </li>
            <li>
                <a href="changelog.html">Changelog</a>
            </li>
            <li>
                <a href="{{links.tfportfolio}}" target="_blank">Our Portfolio</a>
            </li>
            <li>
                <a href="{{links.contact}}" target="_blank">Contact Us</a>
            </li>
        </ul>
        <ul class="bs-masthead-links pull-right">
            <li>
                Made with <i class="fa fa-heart"></i> in Sitia, Greece
            </li>
        </ul>
    </li>
</footer>