<md-card>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2>Dialog-o-matic</h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="dialogForm">
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="vm.newDialog.title"/>
            </md-input-container>
            <md-input-container>
                <label>Content</label>
                <textarea ng-model="vm.newDialog.content"></textarea>
            </md-input-container>
            <md-input-container>
                <label>OK Button</label>
                <input type="text" ng-model="vm.newDialog.ok"/>
            </md-input-container>
            <md-input-container>
                <label>Cancel Button</label>
                <input type="text" ng-model="vm.newDialog.cancel"/>
            </md-input-container>
            <md-button ng-disabled="dialogForm.$invalid" ng-click="vm.createDialog($event, vm.newDialog)">Create Dialog</md-button>
        </form>
    </md-card-content>
</md-card>
