
/*
 * Side footer
 *
 */

.docs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
}

.docs-footer {
  border-top: 1px solid #e5e5e5;

}
.index .docs-footer {
  border-top-color: transparent;
}

.docs-footer .bs-masthead-links {
  color: #8c8c8c !important;
  a {
    color: #4c4c4c !important;
  }
}

.index .docs-footer .bs-masthead-links {
  color: #fff !important;
  a {
    color: #fff !important;
  }
}